In [100]:
class Student:
    def __init__(self, name, score, num_of_pets):
        self.__name = name
        self.__score = score
        self._nop = num_of_pets
    
    def print_score(self):
        print(f"{self.__name}, {self.__score}")

In [101]:
michael = Student("Michael Jordan", 23, 2)

In [102]:
michael.print_score()

Michael Jordan, 23

In [103]:
michael.__name

AttributeError: 'Student' object has no attribute '__name'

In [104]:
michael._Student__name

'Michael Jordan'

In [105]:
michael._nop

2

# Instance Variable vs. Class Variable

In [10]:
class Employee:
    num_of_emps = 0
    raise_amt = 1.04
    
    def __init__(self, first, last, pay):
        self.__first = first
        self.__last = last
        self.__email = first + "." + last + "@gmail.com"
        self.__pay = pay
        
        Employee.num_of_emps += 1
    
    def fullname(self):
        return f"{self.__first} {self.__last}"
    
    def apply_raise(self):
        self.__pay = int(self.__pay * self.raise_amt)

In [11]:
emp1 = Employee("Kobe", "Bryant", 50000)
emp2 = Employee("Lebron", "James", 60000)

In [12]:
emp1.raise_amt

1.04

In [13]:
Employee.num_of_emps

2

In [14]:
emp1.raise_amt = 1.05

In [15]:
emp1.__dict__

{'_Employee__first': 'Kobe',
 '_Employee__last': 'Bryant',
 '_Employee__email': 'Kobe.Bryant@gmail.com',
 '_Employee__pay': 50000,
 'raise_amt': 1.05}

In [24]:
Employee.raise_amt

1.04

In [16]:
emp2.__dict__

{'_Employee__first': 'Lebron',
 '_Employee__last': 'James',
 '_Employee__email': 'Lebron.James@gmail.com',
 '_Employee__pay': 60000}

In [17]:
emp2.apply_raise()

In [18]:
emp2.__dict__

{'_Employee__first': 'Lebron',
 '_Employee__last': 'James',
 '_Employee__email': 'Lebron.James@gmail.com',
 '_Employee__pay': 62400}

In [19]:
60000 * 1.04

62400.0

In [20]:
emp1.apply_raise()

In [22]:
emp1.__dict__

{'_Employee__first': 'Kobe',
 '_Employee__last': 'Bryant',
 '_Employee__email': 'Kobe.Bryant@gmail.com',
 '_Employee__pay': 52500,
 'raise_amt': 1.05}

In [23]:
50000 * 1.05

52500.0

# Regular Method, Class Method and Static Method

In [25]:
import datetime

In [26]:
class Employee:
    num_of_emps = 0
    raise_amt = 1.04
    
    def __init__(self, first, last, pay):
        self.__first = first
        self.__last = last
        self.__email = first + "." + last + "@gmail.com"
        self.__pay = pay
        
        Employee.num_of_emps += 1
    
    def fullname(self):
        return f"{self.__first} {self.__last}"
    
    def apply_raise(self):
        self.__pay = int(self.__pay * self.raise_amt)
        
    @classmethod
    def set_raise_amt(cls, amt):
        cls.raise_amt = amt
    
    @classmethod
    def from_str(cls, emp_str):
        first, last, pay = emp_str.split("-")
        return cls(first, last, pay)
    
    @staticmethod
    def is_workday(day):
        if day.weekday() == 5 or day.weekday() == 6:
            return False
        else:
            return True

In [27]:
Employee.set_raise_amt(1.05)
Employee.raise_amt

1.05

In [28]:
emp1 = Employee("Kobe", "Bryant", 50000)
emp2 = Employee("Lebron", "James", 60000)

In [29]:
print(Employee.raise_amt)
print(emp1.raise_amt)
print(emp2.raise_amt)

1.05
1.05
1.05

In [30]:
emp_str_1 = 'John-Doe-70000'
emp_str_2 = 'Steve-Smith-30000'
emp_str_3 = 'Jane-Doe-90000'

In [31]:
new_emp1 = Employee.from_str(emp_str_1)

In [32]:
my_date = datetime.date(2018, 1, 5)
my_date

datetime.date(2018, 1, 5)

In [33]:
Employee.is_workday(my_date)

True

In [34]:
emp1.is_workday(my_date)

True

# Data Packing

In [35]:
class Student:
    def __init__(self, name="Zeyu Yan", score=100):
        self.__name = name
        self.__score = score
    
    def get_name(self):
        return self.__name
    
    def get_score(self):
        return self.__score
    
    def set_name(self, name):
        self.__name = name
    
    def set_score(self, score):
        if score > 0 and score <= 100:
            self.__score = score
        else:
            raise ValueError("Bad score!")

In [36]:
zeyu = Student()
zeyu.get_name()

'Zeyu Yan'

In [37]:
zeyu.set_score(200)

ValueError: Bad score!

In [71]:
class Student:
    def __init__(self, name="Zeyu Yan", score=100):
        self.__name = name
        self.__score = score
    
    @property
    def name(self):
        return self.__name
    
    @property
    def score(self):
        return self.__score
    
    @name.setter
    def name(self, value):
        self.__name = value
    
    @score.setter
    def score(self, value):
        if value > 0 and value <= 100:
            self.__score = value
        else:
            raise ValueError("Bad score!")

In [72]:
dir(Student)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'name',
 'score']

In [39]:
zeyu = Student()
zeyu.name

'Zeyu Yan'

In [40]:
zeyu.score

100

In [41]:
zeyu.name = "Ray Allen"
zeyu.name

'Ray Allen'

In [42]:
zeyu.score = 200
zeyu.score

ValueError: Bad score!

In [43]:
class Circle:
    def __init__(self, radius):
        self.__radius = radius
    
    @property
    def diameter(self):
        return self.__radius * 2
    
    @diameter.setter
    def diameter(self, value):
        self.__radius = value / 2

In [44]:
my_circle = Circle(2)
my_circle.diameter

4

In [45]:
my_circle.diameter = 4
my_circle.diameter

4.0

# Inheritence

In [60]:
class Person:
    def __init__(self, name, sex):
        self.name = name
        self.sex = sex
    
    def print_title(self):
        if self.sex == "male":
            print("man")
        if self.sex == "female":
            print("woman")

In [61]:
class Child(Person):
    def print_title(self):
        if self.sex == "male":
            print("boy")
        if self.sex == "female":
            print("girl")

In [62]:
class Baby(Child):
    pass

In [63]:
may = Child("May", "female")
may.print_title()

girl

In [64]:
isinstance(may, Child)

True

In [65]:
isinstance(may, Person)

True

In [66]:
# Rewite Child class
class Child(Person):
    def __init__(self, name, sex, mother, father):
#         super().__init__(name, sex)
        Person.__init__(self, name, sex)
        self.mother = mother
        self.father = father
    
    def print_title(self):
        if self.sex == "male":
            print("boy")
        if self.sex == "female":
            print("girl")

In [67]:
May = Child("May", "female", "April", "June")
print(May.name, May.sex, May.mother, May.father)

May female April June

In [68]:
May.print_title()

girl

In [69]:
class Baby(Child):
    pass

In [70]:
James = Baby("James", "male")

TypeError: __init__() missing 2 required positional arguments: 'mother' and 'father'

In [57]:
# Another example
class Base:
    def __init__(self):
        print("Base.__init__")

class A(Base):
    def __init__(self):
        super().__init__()
        print("A.__init__")

class B(Base):
    def __init__(self):
        super().__init__()
        print("B.__init__")

class C(A, B):
    def __init__(self):
        super().__init__()
        print("C.__init__")

In [95]:
C.mro()

[__main__.C, __main__.A, __main__.B, __main__.Base, object]

In [58]:
c = C()

Base.__init__
B.__init__
A.__init__
C.__init__

In [88]:
# Another example
class Base:
    def __init__(self):
        print("enter base")
        print("leave base")

class A(Base):
    def __init__(self):
        print("enter A")
        super().__init__()
#         super(A, self).__init__()
        print("leave A")

class B(Base):
    def __init__(self):
        print("enter B")
        super().__init__()
        print("leave B")

class C(A, B):
    def __init__(self):
        print("enter C")
        super().__init__()
        print("leave C")

In [89]:
C.mro()

[__main__.C, __main__.A, __main__.B, __main__.Base, object]

In [90]:
C.__mro__

(__main__.C, __main__.A, __main__.B, __main__.Base, object)

In [92]:
c.__class__.mro()

[__main__.C, __main__.A, __main__.B, __main__.Base, object]

In [93]:
c = C()

enter C
enter A
enter B
enter base
leave base
leave B
leave A
leave C

In [98]:
class Base:
    def __init__(self):
        print("enter base")
        print("leave base")

class A(Base):
    def __init__(self):
        print("enter A")
        super().__init__()
#         super(A, self).__init__()
        print("leave A")

class B(Base):
    def __init__(self):
        print("enter B")
        super().__init__()
        print("leave B")

class C(A, B):
    def __init__(self):
        print("enter C")
        B.__init__(self)
        print("leave C")

In [99]:
c = C()

enter C
enter B
enter base
leave base
leave B
leave C

# Mixin

In [5]:
class Vehicle:
    pass

class PlaneMixin:
    def fly(self):
        print("I am flying!")

class Airplane(Vehicle, PlaneMixin):
    pass

In [6]:
Airplane.mro()

[__main__.Airplane, __main__.Vehicle, __main__.PlaneMixin, object]

In [7]:
airplane = Airplane()

In [8]:
airplane.fly()

I am flying!

# Attr

In [73]:
class MyObject:
    def __init__(self):
        self.x = 9
    
    def power(self):
        return self.x * self.x

In [74]:
obj = MyObject()

In [75]:
obj.x

9

In [76]:
obj.power()

81

In [77]:
hasattr(obj, "x")

True

In [78]:
hasattr(obj, "y")

False

In [79]:
setattr(obj, "y", 19)

In [80]:
hasattr(obj, "y")

True

In [81]:
getattr(obj, "y")

19

In [82]:
getattr(obj, "z")

AttributeError: 'MyObject' object has no attribute 'z'

In [83]:
# Return a default value
getattr(obj, "z", 404)

404

In [84]:
# Check methods
hasattr(obj, "power")

True

In [85]:
getattr(obj, "power")

In [86]:
fn = getattr(obj, "power")
fn()

81

# repr and str methods

In [106]:
class Test:
    def __init__(self, value="Hello, world!"):
        self.data = value

In [107]:
t = Test()

In [108]:
t

In [109]:
print(t)

<__main__.Test object at 0x109ffd320>

In [110]:
# Rewrite
class TestRepr(Test):
    def __repr__(self):
        return f"TestRepr({self.data})"

In [111]:
tr = TestRepr()

In [112]:
tr

TestRepr(Hello, world!)

In [113]:
print(tr)

TestRepr(Hello, world!)

In [114]:
class TestStr(Test):
    def __str__(self):
        return f"[Value: {self.data}]"

In [115]:
ts = TestStr()

In [116]:
ts

In [117]:
print(ts)

[Value: Hello, world!]