In [136]:
import pymysql, os
from sqlalchemy import create_engine, inspect, func, or_
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session, aliased
import pandas as pd

In [2]:
pymysql.install_as_MySQLdb()

In [3]:
# Connect to MySQL database
PASSWD = os.getenv("LOCAL_MYSQL_PASS")
USER = "root"
PORT = "3306"
DOMAIN = "localhost"
DB = "sakila"
engine = create_engine(f"mysql://{USER}:{PASSWD}@{DOMAIN}:{PORT}/{DB}")
conn = engine.connect()

In [4]:
Base = automap_base()

In [5]:
Base.prepare(engine, reflect=True)

/usr/local/anaconda3/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/reflection.py:193: SAWarning: Did not recognize type 'geometry' of column 'location'
  "Did not recognize type '%s' of column '%s'" % (type_, name)

In [6]:
Base.classes.keys()

['actor',
 'address',
 'city',
 'country',
 'category',
 'customer',
 'store',
 'staff',
 'film',
 'language',
 'film_actor',
 'film_category',
 'film_text',
 'inventory',
 'payment',
 'rental']

In [7]:
inspector = inspect(engine)

In [8]:
inspector.get_table_names()

['actor',
 'address',
 'category',
 'city',
 'country',
 'customer',
 'film',
 'film_actor',
 'film_category',
 'film_text',
 'inventory',
 'language',
 'payment',
 'rental',
 'staff',
 'store']

In [9]:
columns = inspector.get_columns('actor')
for column in columns:
    print(column["name"], column["type"])

actor_id SMALLINT(5) UNSIGNED
first_name VARCHAR(45)
last_name VARCHAR(45)
last_update TIMESTAMP
actor_name VARCHAR(50)

In [10]:
session = Session(engine)

-- 1a. Display the first and last names of all actors from the table actor.

In [11]:
Actor = Base.classes.actor

In [12]:
for instance in session.query(Actor).all():
    print(instance.first_name, instance.last_name)

PENELOPE GUINESS
NICK WAHLBERG
ED CHASE
JENNIFER DAVIS
JOHNNY LOLLOBRIGIDA
BETTE NICHOLSON
GRACE MOSTEL
MATTHEW JOHANSSON
JOE SWANK
CHRISTIAN GABLE
ZERO CAGE
KARL BERRY
UMA WOOD
VIVIEN BERGEN
CUBA OLIVIER
FRED COSTNER
HELEN VOIGHT
DAN TORN
BOB FAWCETT
LUCILLE TRACY
KIRSTEN PALTROW
ELVIS MARX
SANDRA KILMER
CAMERON STREEP
KEVIN BLOOM
RIP CRAWFORD
JULIA MCQUEEN
WOODY HOFFMAN
ALEC WAYNE
SANDRA PECK
SISSY SOBIESKI
TIM HACKMAN
MILLA PECK
AUDREY OLIVIER
JUDY DEAN
BURT DUKAKIS
VAL BOLGER
TOM MCKELLEN
GOLDIE BRODY
JOHNNY CAGE
JODIE DEGENERES
TOM MIRANDA
KIRK JOVOVICH
NICK STALLONE
REESE KILMER
PARKER GOLDBERG
JULIA BARRYMORE
FRANCES DAY-LEWIS
ANNE CRONYN
NATALIE HOPKINS
GARY PHOENIX
CARMEN HUNT
MENA TEMPLE
PENELOPE PINKETT
FAY KILMER
DAN HARRIS
JUDE CRUISE
CHRISTIAN AKROYD
DUSTIN TAUTOU
HENRY BERRY
CHRISTIAN NEESON
JAYNE NEESON
CAMERON WRAY
RAY JOHANSSON
ANGELA HUDSON
MARY TANDY
JESSICA BAILEY
RIP WINSLET
KENNETH PALTROW
MICHELLE MCCONAUGHEY
ADAM GRANT
SEAN WILLIAMS
GARY PENN
MILLA KEITEL
BURT POSEY
ANGELINA ASTAIRE
CARY MCCONAUGHEY
GROUCHO SINATRA
MAE HOFFMAN
RALPH CRUZ
SCARLETT DAMON
WOODY JOLIE
BEN WILLIS
JAMES PITT
MINNIE ZELLWEGER
GREG CHAPLIN
SPENCER PECK
KENNETH PESCI
CHARLIZE DENCH
SEAN GUINESS
CHRISTOPHER BERRY
KIRSTEN AKROYD
ELLEN PRESLEY
KENNETH TORN
DARYL WAHLBERG
GENE WILLIS
MEG HAWKE
CHRIS BRIDGES
JIM MOSTEL
SPENCER DEPP
SUSAN DAVIS
WALTER TORN
MATTHEW LEIGH
PENELOPE CRONYN
SIDNEY CROWE
GROUCHO DUNST
GINA DEGENERES
WARREN NOLTE
SYLVESTER DERN
SUSAN DAVIS
CAMERON ZELLWEGER
RUSSELL BACALL
MORGAN HOPKINS
MORGAN MCDORMAND
HARRISON BALE
DAN STREEP
RENEE TRACY
CUBA ALLEN
WARREN JACKMAN
PENELOPE MONROE
LIZA BERGMAN
SALMA NOLTE
JULIANNE DENCH
SCARLETT BENING
ALBERT NOLTE
FRANCES TOMEI
KEVIN GARLAND
CATE MCQUEEN
DARYL CRAWFORD
GRETA KEITEL
JANE JACKMAN
ADAM HOPPER
RICHARD PENN
GENE HOPKINS
RITA REYNOLDS
ED MANSFIELD
MORGAN WILLIAMS
LUCILLE DEE
EWAN GOODING
WHOOPI HURT
CATE HARRIS
JADA RYDER
RIVER DEAN
ANGELA WITHERSPOON
KIM ALLEN
ALBERT JOHANSSON
FAY WINSLET
EMILY DEE
RUSSELL TEMPLE
JAYNE NOLTE
GEOFFREY HESTON
BEN HARRIS
MINNIE KILMER
MERYL GIBSON
IAN TANDY
FAY WOOD
GRETA MALDEN
VIVIEN BASINGER
LAURA BRODY
CHRIS DEPP
HARVEY HOPE
OPRAH KILMER
CHRISTOPHER WEST
HUMPHREY WILLIS
AL GARLAND
NICK DEGENERES
LAURENCE BULLOCK
WILL WILSON
KENNETH HOFFMAN
MENA HOPPER
OLYMPIA PFEIFFER
GROUCHO WILLIAMS
ALAN DREYFUSS
MICHAEL BENING
WILLIAM HACKMAN
JON CHASE
GENE MCKELLEN
LISA MONROE
ED GUINESS
JEFF SILVERSTONE
MATTHEW CARREY
DEBBIE AKROYD
RUSSELL CLOSE
HUMPHREY GARLAND
MICHAEL BOLGER
JULIA ZELLWEGER
RENEE BALL
ROCK DUKAKIS
CUBA BIRCH
AUDREY BAILEY
GREGORY GOODING
JOHN SUVARI
BURT TEMPLE
MERYL ALLEN
JAYNE SILVERSTONE
BELA WALKEN
REESE WEST
MARY KEITEL
JULIA FAWCETT
THORA TEMPLE

-- 1b. Display the first and last name of each actor in a single column in upper case letters. Name the column Actor Name.

In [19]:
df = pd.DataFrame({
    "Actor Name": [item[0] + " " + item[1] for item in session.query(Actor.first_name, Actor.last_name).all()]
})

In [20]:
df.head()

            Actor Name
0     PENELOPE GUINESS
1        NICK WAHLBERG
2             ED CHASE
3       JENNIFER DAVIS
4  JOHNNY LOLLOBRIGIDA

-- 2a. You need to find the ID number, first name, and last name of an actor, of whom you know only the first name, "Joe." 
-- What is one query would you use to obtain this information?

In [24]:
for instance in session.query(Actor).filter(Actor.first_name == "joe"):
    print(instance.actor_id, instance.first_name, instance.last_name)

9 JOE SWANK

-- 2b. Find all actors whose last name contain the letters GEN:

In [25]:
for instance in session.query(Actor).filter(Actor.last_name.like('%GEN%')):
    print(instance.actor_id, instance.first_name, instance.last_name)

14 VIVIEN BERGEN
41 JODIE DEGENERES
107 GINA DEGENERES
166 NICK DEGENERES

-- 2c. Find all actors whose last names contain the letters LI. This time, order the rows by last name and first name, in that order:

In [26]:
for instance in session.query(Actor).filter(Actor.last_name.like('%LI%')).order_by(Actor.last_name, Actor.first_name):
    print(instance.actor_id, instance.first_name, instance.last_name)

86 GREG CHAPLIN
82 WOODY JOLIE
34 AUDREY OLIVIER
15 CUBA OLIVIER
172 GROUCHO WILLIAMS
137 MORGAN WILLIAMS
72 SEAN WILLIAMS
83 BEN WILLIS
96 GENE WILLIS
164 HUMPHREY WILLIS

-- 2d. Using IN, display the country_id and country columns of the following countries: Afghanistan, Bangladesh, and China:

In [27]:
Country = Base.classes.country

In [28]:
columns = inspector.get_columns('country')
for column in columns:
    print(column["name"], column["type"])

country_id SMALLINT(5) UNSIGNED
country VARCHAR(50)
last_update TIMESTAMP

In [29]:
for instance in session.query(Country).filter(Country.country.in_(['Afghanistan', 'Bangladesh', 'China'])):
    print(instance.country_id, instance.country)

1 Afghanistan
12 Bangladesh
23 China

-- 3a. You want to keep a description of each actor. 
-- You don't think you will be performing queries on a description, so create a column in the table actor named description and use the data type BLOB (Make sure to research the type BLOB, as the difference between it and VARCHAR are significant).

-- 3b. Very quickly you realize that entering descriptions for each actor is too much effort. Delete the description column.

-- 4a. List the last names of actors, as well as how many actors have that last name.

In [34]:
for item in session.query(Actor.last_name, func.count(Actor.last_name)).group_by(Actor.last_name).all():
    print(item[0], item[1])

AKROYD 3
ALLEN 3
ASTAIRE 1
BACALL 1
BAILEY 2
BALE 1
BALL 1
BARRYMORE 1
BASINGER 1
BENING 2
BERGEN 1
BERGMAN 1
BERRY 3
BIRCH 1
BLOOM 1
BOLGER 2
BRIDGES 1
BRODY 2
BULLOCK 1
CAGE 2
CARREY 1
CHAPLIN 1
CHASE 2
CLOSE 1
COSTNER 1
CRAWFORD 2
CRONYN 2
CROWE 1
CRUISE 1
CRUZ 1
DAMON 1
DAVIS 3
DAY-LEWIS 1
DEAN 2
DEE 2
DEGENERES 3
DENCH 2
DEPP 2
DERN 1
DREYFUSS 1
DUKAKIS 2
DUNST 1
FAWCETT 2
GABLE 1
GARLAND 3
GIBSON 1
GOLDBERG 1
GOODING 2
GRANT 1
GUINESS 3
HACKMAN 2
HARRIS 3
HAWKE 1
HESTON 1
HOFFMAN 3
HOPE 1
HOPKINS 3
HOPPER 2
HUDSON 1
HUNT 1
HURT 1
JACKMAN 2
JOHANSSON 3
JOLIE 1
JOVOVICH 1
KEITEL 3
KILMER 5
LEIGH 1
LOLLOBRIGIDA 1
MALDEN 1
MANSFIELD 1
MARX 1
MCCONAUGHEY 2
MCDORMAND 1
MCKELLEN 2
MCQUEEN 2
MIRANDA 1
MONROE 2
MOSTEL 2
NEESON 2
NICHOLSON 1
NOLTE 4
OLIVIER 2
PALTROW 2
PECK 3
PENN 2
PESCI 1
PFEIFFER 1
PHOENIX 1
PINKETT 1
PITT 1
POSEY 1
PRESLEY 1
REYNOLDS 1
RYDER 1
SILVERSTONE 2
SINATRA 1
SOBIESKI 1
STALLONE 1
STREEP 2
SUVARI 1
SWANK 1
TANDY 2
TAUTOU 1
TEMPLE 4
TOMEI 1
TORN 3
TRACY 2
VOIGHT 1
WAHLBERG 2
WALKEN 1
WAYNE 1
WEST 2
WILLIAMS 3
WILLIS 3
WILSON 1
WINSLET 2
WITHERSPOON 1
WOOD 2
WRAY 1
ZELLWEGER 3

-- 4b. List last names of actors and the number of actors who have that last name, but only for names that are shared by at least two actors.

In [36]:
for item in session.query(Actor.last_name, func.count(Actor.last_name)).group_by(Actor.last_name) \
.having(func.count(Actor.last_name) > 1):
    print(item[0], item[1])

AKROYD 3
ALLEN 3
BAILEY 2
BENING 2
BERRY 3
BOLGER 2
BRODY 2
CAGE 2
CHASE 2
CRAWFORD 2
CRONYN 2
DAVIS 3
DEAN 2
DEE 2
DEGENERES 3
DENCH 2
DEPP 2
DUKAKIS 2
FAWCETT 2
GARLAND 3
GOODING 2
GUINESS 3
HACKMAN 2
HARRIS 3
HOFFMAN 3
HOPKINS 3
HOPPER 2
JACKMAN 2
JOHANSSON 3
KEITEL 3
KILMER 5
MCCONAUGHEY 2
MCKELLEN 2
MCQUEEN 2
MONROE 2
MOSTEL 2
NEESON 2
NOLTE 4
OLIVIER 2
PALTROW 2
PECK 3
PENN 2
SILVERSTONE 2
STREEP 2
TANDY 2
TEMPLE 4
TORN 3
TRACY 2
WAHLBERG 2
WEST 2
WILLIAMS 3
WILLIS 3
WINSLET 2
WOOD 2
ZELLWEGER 3

-- 4c. The actor HARPO WILLIAMS was accidentally entered in the actor table as GROUCHO WILLIAMS. Write a query to fix the record.

In [47]:
session.query(Actor).filter(Actor.first_name == 'GROUCHO', Actor.last_name == 'WILLIAMS').update({
    'first_name': 'HARPO'
})

1

In [48]:
for instance in session.query(Actor).filter(Actor.first_name == 'GROUCHO', Actor.last_name == 'WILLIAMS'):
    print(instance.first_name, instance.last_name)

In [59]:
actor = session.query(Actor).filter(Actor.first_name == 'GROUCHO', Actor.last_name == 'WILLIAMS').one_or_none()
print(actor)

None

In [49]:
for instance in session.query(Actor).filter(Actor.first_name == 'HARPO', Actor.last_name == 'WILLIAMS'):
    print(instance.first_name, instance.last_name)

HARPO WILLIAMS

In [50]:
session.query(Actor).filter(Actor.first_name == 'HARPO', Actor.last_name == 'WILLIAMS')

In [51]:
session.query(Actor).filter(Actor.first_name == 'HARPO', Actor.last_name == 'WILLIAMS').one()

In [52]:
session.query(Actor).filter(Actor.first_name == 'HARPO', Actor.last_name == 'WILLIAMS').one().last_name

'WILLIAMS'

In [53]:
session.query(Actor).filter(Actor.first_name == 'HARPO', Actor.last_name == 'WILLIAMS').all()[0].last_name

'WILLIAMS'

-- 4d. Perhaps we were too hasty in changing GROUCHO to HARPO. 
-- It turns out that GROUCHO was the correct name after all! In a single query, if the first name of the actor is currently HARPO, change it to GROUCHO.

In [60]:
actor = session.query(Actor).filter(Actor.first_name == 'HARPO').one_or_none()
print(actor)

<sqlalchemy.ext.automap.actor object at 0x11e4c4320>

In [61]:
actor.first_name = 'GROUCHO'
session.commit()

In [62]:
actor = session.query(Actor).filter(Actor.first_name == 'HARPO').one_or_none()
print(actor)

None

In [64]:
actor = session.query(Actor).filter(Actor.first_name == 'GROUCHO', Actor.last_name == 'WILLIAMS').one_or_none()
if actor:
    print('Yes!!!')

Yes!!!

In [65]:
actor_list = session.query(Actor).filter(Actor.first_name == 'HARPO').all()
print(actor_list)

[]

-- 6a. Use JOIN to display the first and last names, as well as the address, of each staff member. Use the tables staff and address:

In [81]:
Staff = Base.classes.staff
Address = Base.classes.address
City = Base.classes.city

In [67]:
columns = inspector.get_columns('staff')
for column in columns:
    print(column["name"], column["type"])

staff_id TINYINT(3) UNSIGNED
first_name VARCHAR(45)
last_name VARCHAR(45)
address_id SMALLINT(5) UNSIGNED
picture BLOB
email VARCHAR(50)
store_id TINYINT(3) UNSIGNED
active TINYINT(1)
username VARCHAR(16)
password VARCHAR(40) CHARACTER SET utf8 COLLATE utf8_bin
last_update TIMESTAMP

In [68]:
columns = inspector.get_columns('address')
for column in columns:
    print(column["name"], column["type"])

address_id SMALLINT(5) UNSIGNED
address VARCHAR(50)
address2 VARCHAR(50)
district VARCHAR(20)
city_id SMALLINT(5) UNSIGNED
postal_code VARCHAR(10)
phone VARCHAR(20)
location

/usr/local/anaconda3/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/reflection.py:193: SAWarning: Did not recognize type 'geometry' of column 'location'
  "Did not recognize type '%s' of column '%s'" % (type_, name)

CompileError: Can't generate DDL for NullType(); did you forget to specify a type on this Column?

In [82]:
columns = inspector.get_columns('city')
for column in columns:
    print(column["name"], column["type"])

city_id SMALLINT(5) UNSIGNED
city VARCHAR(50)
country_id SMALLINT(5) UNSIGNED
last_update TIMESTAMP

In [92]:
result = session.query(
    Staff.staff_id, 
    Staff.first_name, 
    Staff.last_name, 
    Address.address, 
    Address.district,
    City.city,
    Address.postal_code
) \
.outerjoin(Address, Staff.address_id == Address.address_id) \
.outerjoin(City, Address.city_id == City.city_id)

In [93]:
result

In [94]:
for row in result:
    print(*row)

1 Mike Hillyer 23 Workhaven Lane Alberta Lethbridge
2 Jon Stephens 1411 Lillydale Drive QLD Woodridge

In [95]:
session.query(Address.address, Address.postal_code).filter(Address.address == '23 Workhaven Lane').all()

[('23 Workhaven Lane', '')]

-- 6b. Use JOIN to display the total amount rung up by each staff member in August of 2005. Use tables staff and payment.

In [96]:
Payment = Base.classes.payment

In [97]:
columns = inspector.get_columns('payment')
for column in columns:
    print(column["name"], column["type"])

payment_id SMALLINT(5) UNSIGNED
customer_id SMALLINT(5) UNSIGNED
staff_id TINYINT(3) UNSIGNED
rental_id INTEGER(11)
amount DECIMAL(5, 2)
payment_date DATETIME
last_update TIMESTAMP

In [100]:
result = session.query(
    Staff.staff_id, 
    Staff.first_name, 
    Staff.last_name, 
    func.sum(Payment.amount)
) \
.join(Staff, Payment.staff_id == Staff.staff_id) \
.filter(func.month(Payment.payment_date) == 8) \
.group_by(Staff.staff_id)

In [101]:
for row in result:
    print(*row)

1 Mike Hillyer 11853.65
2 Jon Stephens 12218.48

-- 6c. List each film and the number of actors who are listed for that film. Use tables film_actor and film. Use inner join.

In [102]:
Film_Actor = Base.classes.film_actor
Film = Base.classes.film

In [103]:
columns = inspector.get_columns('film')
for column in columns:
    print(column["name"], column["type"])

film_id SMALLINT(5) UNSIGNED
title VARCHAR(255)
description TEXT
release_year YEAR(4)
language_id TINYINT(3) UNSIGNED
original_language_id TINYINT(3) UNSIGNED
rental_duration TINYINT(3) UNSIGNED
rental_rate DECIMAL(4, 2)
length SMALLINT(5) UNSIGNED
replacement_cost DECIMAL(5, 2)
rating ENUM('G','PG','PG-13','R','NC-17')
special_features SET('Trailers','Commentaries','Deleted Scenes','Behind the Scenes')
last_update TIMESTAMP

In [104]:
columns = inspector.get_columns('film_actor')
for column in columns:
    print(column["name"], column["type"])

actor_id SMALLINT(5) UNSIGNED
film_id SMALLINT(5) UNSIGNED
last_update TIMESTAMP

In [111]:
for row in session.query(Film_Actor).limit(50).all():
    print(row.actor_id, row.film_id)

1 1
1 23
1 25
1 106
1 140
1 166
1 277
1 361
1 438
1 499
1 506
1 509
1 605
1 635
1 749
1 832
1 939
1 970
1 980
2 3
2 31
2 47
2 105
2 132
2 145
2 226
2 249
2 314
2 321
2 357
2 369
2 399
2 458
2 481
2 485
2 518
2 540
2 550
2 555
2 561
2 742
2 754
2 811
2 958
3 17
3 40
3 42
3 87
3 111
3 185

In [112]:
result = session.query(
    Film.film_id,
    Film.title,
    func.count(Film_Actor.actor_id)
) \
.join(Film, Film_Actor.film_id == Film.film_id) \
.group_by(Film.film_id)

In [113]:
for row in result:
    print(*row)

1 ACADEMY DINOSAUR 10
2 ACE GOLDFINGER 4
3 ADAPTATION HOLES 5
4 AFFAIR PREJUDICE 5
5 AFRICAN EGG 5
6 AGENT TRUMAN 7
7 AIRPLANE SIERRA 5
8 AIRPORT POLLOCK 4
9 ALABAMA DEVIL 9
10 ALADDIN CALENDAR 8
11 ALAMO VIDEOTAPE 4
12 ALASKA PHANTOM 7
13 ALI FOREVER 5
14 ALICE FANTASIA 4
15 ALIEN CENTER 6
16 ALLEY EVOLUTION 5
17 ALONE TRIP 8
18 ALTER VICTORY 4
19 AMADEUS HOLY 6
20 AMELIE HELLFIGHTERS 6
21 AMERICAN CIRCUS 5
22 AMISTAD MIDSUMMER 4
23 ANACONDA CONFESSIONS 5
24 ANALYZE HOOSIERS 5
25 ANGELS LIFE 9
26 ANNIE IDENTITY 3
27 ANONYMOUS HUMAN 9
28 ANTHEM LUKE 2
29 ANTITRUST TOMATOES 7
30 ANYTHING SAVANNAH 3
31 APACHE DIVINE 4
32 APOCALYPSE FLAMINGOS 5
33 APOLLO TEEN 8
34 ARABIA DOGMA 12
35 ARACHNOPHOBIA ROLLERCOASTER 8
36 ARGONAUTS TOWN 5
37 ARIZONA BANG 4
38 ARK RIDGEMONT 3
39 ARMAGEDDON LOST 7
40 ARMY FLINTSTONES 7
41 ARSENIC INDEPENDENCE 3
42 ARTIST COLDBLOODED 7
43 ATLANTIS CAUSE 9
44 ATTACKS HATE 4
45 ATTRACTION NEWTON 4
46 AUTUMN CROW 3
47 BABY HALL 8
48 BACKLASH UNDEFEATED 7
49 BADMAN DAWN 8
50 BAKED CLEOPATRA 1
51 BALLOON HOMEWARD 6
52 BALLROOM MOCKINGBIRD 7
53 BANG KWAI 7
54 BANGER PINOCCHIO 6
55 BARBARELLA STREETCAR 5
56 BAREFOOT MANCHURIAN 8
57 BASIC EASY 6
58 BEACH HEARTBREAKERS 7
59 BEAR GRACELAND 3
60 BEAST HUNCHBACK 5
61 BEAUTY GREASE 5
62 BED HIGHBALL 5
63 BEDAZZLED MARRIED 7
64 BEETHOVEN EXORCIST 6
65 BEHAVIOR RUNAWAY 5
66 BENEATH RUSH 7
67 BERETS AGENT 10
68 BETRAYED REAR 4
69 BEVERLY OUTLAW 4
70 BIKINI BORROWERS 2
71 BILKO ANONYMOUS 3
72 BILL OTHERS 6
73 BINGO TALENTED 5
74 BIRCH ANTITRUST 6
75 BIRD INDEPENDENCE 2
76 BIRDCAGE CASPER 4
77 BIRDS PERDITION 4
78 BLACKOUT PRIVATE 5
79 BLADE POLISH 5
80 BLANKET BEVERLY 4
81 BLINDNESS GUN 3
82 BLOOD ARGONAUTS 4
83 BLUES INSTINCT 4
84 BOILED DARES 8
85 BONNIE HOLOCAUST 9
86 BOOGIE AMELIE 6
87 BOONDOCK BALLROOM 13
88 BORN SPINAL 9
89 BORROWERS BEDAZZLED 7
90 BOULEVARD MOB 8
91 BOUND CHEAPER 2
92 BOWFINGER GABLES 5
93 BRANNIGAN SUNRISE 2
94 BRAVEHEART HUMAN 4
95 BREAKFAST GOLDFINGER 5
96 BREAKING HOME 6
97 BRIDE INTRIGUE 1
98 BRIGHT ENCOUNTERS 4
99 BRINGING HYSTERICAL 2
100 BROOKLYN DESERT 5
101 BROTHERHOOD BLANKET 5
102 BUBBLE GROSSE 3
103 BUCKET BROTHERHOOD 6
104 BUGSY SONG 2
105 BULL SHAWSHANK 8
106 BULWORTH COMMANDMENTS 4
107 BUNCH MINDS 8
108 BUTCH PANTHER 3
109 BUTTERFLY CHOCOLAT 7
110 CABIN FLASH 4
111 CADDYSHACK JEDI 7
112 CALENDAR GUNFIGHT 8
113 CALIFORNIA BIRDS 2
114 CAMELOT VACATION 2
115 CAMPUS REMEMBER 3
116 CANDIDATE PERDITION 4
117 CANDLES GRAPES 7
118 CANYON STOCK 6
119 CAPER MOTIONS 7
120 CARIBBEAN LIBERTY 8
121 CAROL TEXAS 7
122 CARRIE BUNCH 7
123 CASABLANCA SUPER 4
124 CASPER DRAGONFLY 5
125 CASSIDY WYOMING 7
126 CASUALTIES ENCINO 5
127 CAT CONEHEADS 4
128 CATCH AMISTAD 5
129 CAUSE DATE 6
130 CELEBRITY HORN 4
131 CENTER DINOSAUR 4
132 CHAINSAW UPTOWN 2
133 CHAMBER ITALIAN 7
134 CHAMPION FLATLINERS 4
135 CHANCE RESURRECTION 6
136 CHAPLIN LICENSE 6
137 CHARADE DUFFEL 3
138 CHARIOTS CONSPIRACY 2
139 CHASING FIGHT 5
140 CHEAPER CLYDE 2
141 CHICAGO NORTH 8
142 CHICKEN HELLFIGHTERS 2
143 CHILL LUCK 5
144 CHINATOWN GLADIATOR 10
145 CHISUM BEHAVIOR 4
146 CHITTY LOCK 13
147 CHOCOLAT HARRY 5
148 CHOCOLATE DUCK 7
149 CHRISTMAS MOONSHINE 3
150 CIDER DESIRE 5
151 CINCINATTI WHISPERER 4
152 CIRCUS YOUTH 2
153 CITIZEN SHREK 8
154 CLASH FREDDY 7
155 CLEOPATRA DEVIL 7
156 CLERKS ANGELS 4
157 CLOCKWORK PARADISE 5
158 CLONES PINOCCHIO 5
159 CLOSER BANG 6
160 CLUB GRAFFITI 4
161 CLUE GRAIL 6
162 CLUELESS BUCKET 8
163 CLYDE THEORY 4
164 COAST RAINBOW 10
165 COLDBLOODED DARLING 4
166 COLOR PHILADELPHIA 7
167 COMA HEAD 3
168 COMANCHEROS ENEMY 5
169 COMFORTS RUSH 5
170 COMMAND DARLING 8
171 COMMANDMENTS EXPRESS 4
172 CONEHEADS SMOOCHY 9
173 CONFESSIONS MAGUIRE 4
174 CONFIDENTIAL INTERVIEW 2
175 CONFUSED CANDLES 6
176 CONGENIALITY QUEST 3
177 CONNECTICUT TRAMP 7
178 CONNECTION MICROCOSMOS 7
179 CONQUERER NUTS 6
180 CONSPIRACY SPIRIT 4
181 CONTACT ANONYMOUS 5
182 CONTROL ANTHEM 3
183 CONVERSATION DOWNHILL 3
184 CORE SUIT 4
185 COWBOY DOOM 5
186 CRAFT OUTFIELD 6
187 CRANES RESERVOIR 6
188 CRAZY HOME 13
189 CREATURES SHAKESPEARE 3
190 CREEPERS KANE 6
191 CROOKED FROGMEN 6
192 CROSSING DIVORCE 2
193 CROSSROADS CASUALTIES 8
194 CROW GREASE 10
195 CROWDS TELEMARK 4
196 CRUELTY UNFORGIVEN 2
197 CRUSADE HONEY 9
198 CRYSTAL BREAKING 5
199 CUPBOARD SINNERS 8
200 CURTAIN VIDEOTAPE 3
201 CYCLONE FAMILY 3
202 DADDY PITTSBURGH 5
203 DAISY MENAGERIE 7
204 DALMATIONS SWEDEN 6
205 DANCES NONE 5
206 DANCING FEVER 6
207 DANGEROUS UPTOWN 8
208 DARES PLUTO 10
209 DARKNESS WAR 2
210 DARKO DORADO 4
211 DARLING BREAKING 2
212 DARN FORRESTER 9
213 DATE SPEED 4
214 DAUGHTER MADIGAN 4
215 DAWN POND 6
216 DAY UNFAITHFUL 5
217 DAZED PUNK 6
218 DECEIVER BETRAYED 4
219 DEEP CRUSADE 7
220 DEER VIRGINIAN 3
221 DELIVERANCE MULHOLLAND 3
222 DESERT POSEIDON 5
223 DESIRE ALIEN 7
224 DESPERATE TRAINSPOTTING 4
225 DESTINATION JERK 3
226 DESTINY SATURDAY 7
227 DETAILS PACKER 2
228 DETECTIVE VISION 3
229 DEVIL DESIRE 5
230 DIARY PANIC 4
231 DINOSAUR SECRETARY 6
232 DIRTY ACE 5
233 DISCIPLE MOTHER 7
234 DISTURBING SCARFACE 4
235 DIVIDE MONSTER 6
236 DIVINE RESURRECTION 5
237 DIVORCE SHINING 6
238 DOCTOR GRAIL 6
239 DOGMA FAMILY 7
240 DOLLS RAGE 1
241 DONNIE ALLEY 7
242 DOOM DANCING 8
243 DOORS PRESIDENT 9
244 DORADO NOTTING 4
245 DOUBLE WRATH 8
246 DOUBTFIRE LABYRINTH 5
247 DOWNHILL ENOUGH 4
248 DOZEN LION 6
249 DRACULA CRYSTAL 13
250 DRAGON SQUAD 8
251 DRAGONFLY STRANGERS 3
252 DREAM PICKUP 4
253 DRIFTER COMMANDMENTS 7
254 DRIVER ANNIE 8
255 DRIVING POLISH 7
256 DROP WATERFRONT 8
258 DRUMS DYNAMITE 7
259 DUCK RACER 2
260 DUDE BLINDNESS 7
261 DUFFEL APOCALYPSE 3
262 DUMBO LUST 9
263 DURHAM PANKY 9
264 DWARFS ALTER 1
265 DYING MAKER 2
266 DYNAMITE TARZAN 5
267 EAGLES PANKY 6
268 EARLY HOME 6
269 EARRING INSTINCT 5
270 EARTH VISION 3
271 EASY GLADIATOR 3
272 EDGE KISSING 3
273 EFFECT GLADIATOR 7
274 EGG IGBY 5
275 EGYPT TENENBAUMS 5
276 ELEMENT FREDDY 4
277 ELEPHANT TROJAN 5
278 ELF MURDER 5
279 ELIZABETH SHANE 3
280 EMPIRE MALKOVICH 9
281 ENCINO ELF 6
282 ENCOUNTERS CURTAIN 4
283 ENDING CROWDS 5
284 ENEMY ODDS 4
285 ENGLISH BULWORTH 5
286 ENOUGH RAGING 9
287 ENTRAPMENT SATISFACTION 4
288 ESCAPE METROPOLIS 4
289 EVE RESURRECTION 6
290 EVERYONE CRAFT 5
291 EVOLUTION ALTER 6
292 EXCITEMENT EVE 8
293 EXORCIST STING 5
294 EXPECATIONS NATURAL 3
295 EXPENDABLE STALLION 4
296 EXPRESS LONELY 8
297 EXTRAORDINARY CONQUERER 7
298 EYES DRIVING 5
299 FACTORY DRAGON 6
300 FALCON VOLUME 4
301 FAMILY SWEET 9
302 FANTASIA PARK 3
303 FANTASY TROOPERS 9
304 FARGO GANDHI 5
305 FATAL HAUNTED 6
306 FEATHERS METAL 9
307 FELLOWSHIP AUTUMN 7
308 FERRIS MOTHER 1
309 FEUD FROGMEN 4
310 FEVER EMPIRE 3
311 FICTION CHRISTMAS 8
312 FIDDLER LOST 11
313 FIDELITY DEVIL 4
314 FIGHT JAWBREAKER 3
315 FINDING ANACONDA 5
316 FIRE WOLVES 5
317 FIREBALL PHILADELPHIA 5
318 FIREHOUSE VIETNAM 5
319 FISH OPUS 2
320 FLAMINGOS CONNECTICUT 9
321 FLASH WARS 7
322 FLATLINERS KILLER 9
324 FLINTSTONES HAPPINESS 4
325 FLOATS GARDEN 5
326 FLYING HOOK 8
327 FOOL MOCKINGBIRD 2
328 FOREVER CANDIDATE 1
329 FORREST SONS 5
330 FORRESTER COMANCHEROS 3
331 FORWARD TEMPLE 3
332 FRANKENSTEIN STRANGER 2
333 FREAKY POCUS 5
334 FREDDY STORM 3
335 FREEDOM CLEOPATRA 5
336 FRENCH HOLIDAY 7
337 FRIDA SLIPPER 5
338 FRISCO FORREST 9
339 FROGMEN BREAKING 6
340 FRONTIER CABIN 6
341 FROST HEAD 7
342 FUGITIVE MAGUIRE 11
343 FULL FLATLINERS 6
344 FURY MURDER 4
345 GABLES METROPOLIS 8
346 GALAXY SWEETHEARTS 3
347 GAMES BOWFINGER 8
348 GANDHI KWAI 8
349 GANGS PRIDE 4
350 GARDEN ISLAND 3
351 GASLIGHT CRUSADE 5
352 GATHERING CALENDAR 3
353 GENTLEMEN STAGE 8
354 GHOST GROUNDHOG 5
355 GHOSTBUSTERS ELF 1
356 GIANT TROOPERS 1
357 GILBERT PELICAN 4
358 GILMORE BOILED 6
359 GLADIATOR WESTWARD 6
360 GLASS DYING 4
361 GLEAMING JAWBREAKER 8
362 GLORY TRACY 6
363 GO PURPLE 3
364 GODFATHER DIARY 6
365 GOLD RIVER 2
366 GOLDFINGER SENSIBILITY 4
367 GOLDMINE TYCOON 7
368 GONE TROUBLE 5
369 GOODFELLAS SALUTE 8
370 GORGEOUS BINGO 7
371 GOSFORD DONNIE 3
372 GRACELAND DYNAMITE 6
373 GRADUATE LORD 2
374 GRAFFITI LOVE 6
375 GRAIL FRANKENSTEIN 5
376 GRAPES FURY 5
377 GREASE YOUTH 3
378 GREATEST NORTH 6
379 GREEDY ROOTS 8
380 GREEK EVERYONE 4
381 GRINCH MASSAGE 6
382 GRIT CLOCKWORK 3
383 GROOVE FICTION 7
384 GROSSE WONDERFUL 4
385 GROUNDHOG UNCUT 7
386 GUMP DATE 6
387 GUN BONNIE 5
388 GUNFIGHT MOON 4
389 GUNFIGHTER MUSSOLINI 4
390 GUYS FALCON 5
391 HALF OUTFIELD 6
392 HALL CASSIDY 5
393 HALLOWEEN NUTS 7
394 HAMLET WISDOM 5
395 HANDICAP BOONDOCK 7
396 HANGING DEEP 7
397 HANKY OCTOBER 3
398 HANOVER GALAXY 7
399 HAPPINESS UNITED 5
400 HARDLY ROBBERS 3
401 HAROLD FRENCH 7
402 HARPER DYING 4
403 HARRY IDAHO 6
404 HATE HANDICAP 3
405 HAUNTED ANTITRUST 5
406 HAUNTING PIANIST 5
407 HAWK CHILL 7
408 HEAD STRANGER 2
409 HEARTBREAKERS BRIGHT 5
410 HEAVEN FREEDOM 10
411 HEAVENLY GUN 6
412 HEAVYWEIGHTS BEAST 5
413 HEDWIG ALTER 4
414 HELLFIGHTERS SIERRA 12
415 HIGH ENCINO 7
416 HIGHBALL POTTER 5
417 HILLS NEIGHBORS 6
418 HOBBIT ALIEN 8
419 HOCUS FRIDA 3
420 HOLES BRANNIGAN 11
421 HOLIDAY GAMES 6
422 HOLLOW JEOPARDY 2
423 HOLLYWOOD ANONYMOUS 6
424 HOLOCAUST HIGHBALL 5
425 HOLY TADPOLE 3
426 HOME PITY 6
427 HOMEWARD CIDER 7
428 HOMICIDE PEACH 8
429 HONEY TIES 5
430 HOOK CHARIOTS 4
431 HOOSIERS BIRDCAGE 10
432 HOPE TOOTSIE 4
433 HORN WORKING 8
434 HORROR REIGN 5
435 HOTEL HAPPINESS 4
436 HOURS RAGE 6
437 HOUSE DYNAMITE 9
438 HUMAN GRAFFITI 4
439 HUNCHBACK IMPOSSIBLE 2
440 HUNGER ROOF 1
441 HUNTER ALTER 4
442 HUNTING MUSKETEERS 5
443 HURRICANE AFFAIR 3
444 HUSTLER PARTY 4
445 HYDE DOCTOR 6
446 HYSTERICAL GRAIL 9
447 ICE CROSSING 6
448 IDAHO LOVE 6
449 IDENTITY LOVER 4
450 IDOLS SNATCHERS 8
451 IGBY MAKER 5
452 ILLUSION AMELIE 7
453 IMAGE PRINCESS 11
454 IMPACT ALADDIN 3
455 IMPOSSIBLE PREJUDICE 3
456 INCH JET 5
457 INDEPENDENCE HOTEL 9
458 INDIAN LOVE 10
459 INFORMER DOUBLE 3
460 INNOCENT USUAL 3
461 INSECTS STONE 4
462 INSIDER ARIZONA 9
463 INSTINCT AIRPORT 11
464 INTENTIONS EMPIRE 2
465 INTERVIEW LIAISONS 5
466 INTOLERABLE INTENTIONS 6
467 INTRIGUE WORST 7
468 INVASION CYCLONE 7
469 IRON MOON 8
470 ISHTAR ROCKETEER 4
471 ISLAND EXORCIST 3
472 ITALIAN AFRICAN 2
473 JACKET FRISCO 10
474 JADE BUNCH 8
475 JAPANESE RUN 9
476 JASON TRAP 5
477 JAWBREAKER BROOKLYN 5
478 JAWS HARRY 5
479 JEDI BENEATH 4
480 JEEPERS WEDDING 6
481 JEKYLL FROGMEN 3
482 JEOPARDY ENCINO 5
483 JERICHO MULAN 4
484 JERK PAYCHECK 8
485 JERSEY SASSY 9
486 JET NEIGHBORS 6
487 JINGLE SAGEBRUSH 2
488 JOON NORTHWEST 2
489 JUGGLER HARDLY 9
490 JUMANJI BLADE 6
491 JUMPING WRATH 8
492 JUNGLE CLOSER 6
493 KANE EXORCIST 5
494 KARATE MOON 8
495 KENTUCKIAN GIANT 4
496 KICK SAVANNAH 6
497 KILL BROTHERHOOD 5
498 KILLER INNOCENT 5
499 KING EVOLUTION 6
500 KISS GLORY 7
501 KISSING DOLLS 3
502 KNOCK WARLOCK 6
503 KRAMER CHOCOLATE 8
504 KWAI HOMEWARD 5
505 LABYRINTH LEAGUE 6
506 LADY STAGE 8
507 LADYBUGS ARMAGEDDON 4
508 LAMBS CINCINATTI 15
509 LANGUAGE COWBOY 6
510 LAWLESS VISION 4
511 LAWRENCE LOVE 2
512 LEAGUE HELLFIGHTERS 6
513 LEATHERNECKS DWARFS 7
514 LEBOWSKI SOLDIERS 3
515 LEGALLY SECRETARY 6
516 LEGEND JEDI 4
517 LESSON CLEOPATRA 12
518 LIAISONS SWEET 6
519 LIBERTY MAGNIFICENT 7
520 LICENSE WEEKEND 8
521 LIES TREATMENT 7
522 LIFE TWISTED 8
523 LIGHTS DEER 2
524 LION UNCUT 3
525 LOATHING LEGALLY 5
526 LOCK REAR 2
527 LOLA AGENT 6
528 LOLITA WORLD 1
529 LONELY ELEPHANT 12
530 LORD ARIZONA 6
531 LOSE INCH 4
532 LOSER HUSTLER 5
533 LOST BIRD 3
534 LOUISIANA HARRY 3
535 LOVE SUICIDES 4
536 LOVELY JINGLE 6
537 LOVER TRUMAN 7
538 LOVERBOY ATTACKS 9
539 LUCK OPUS 6
540 LUCKY FLYING 10
541 LUKE MUMMY 9
542 LUST LOCK 7
543 MADIGAN DORADO 6
544 MADISON TRAP 5
545 MADNESS ATTACKS 7
546 MADRE GABLES 4
547 MAGIC MALLRATS 4
548 MAGNIFICENT CHITTY 7
549 MAGNOLIA FORRESTER 7
550 MAGUIRE APACHE 4
551 MAIDEN HOME 8
552 MAJESTIC FLOATS 5
553 MAKER GABLES 11
554 MALKOVICH PET 7
555 MALLRATS UNITED 5
556 MALTESE HOPE 1
557 MANCHURIAN CURTAIN 2
558 MANNEQUIN WORST 5
559 MARRIED GO 3
560 MARS ROMAN 7
561 MASK PEACH 11
562 MASKED BUBBLE 3
563 MASSACRE USUAL 3
564 MASSAGE IMAGE 9
565 MATRIX SNOWMAN 3
566 MAUDE MOD 6
567 MEET CHOCOLATE 6
568 MEMENTO ZOOLANDER 6
569 MENAGERIE RUSHMORE 2
570 MERMAID INSECTS 6
571 METAL ARMAGEDDON 8
572 METROPOLIS COMA 6
573 MICROCOSMOS PARADISE 6
574 MIDNIGHT WESTWARD 9
575 MIDSUMMER GROUNDHOG 2
576 MIGHTY LUCK 8
577 MILE MULAN 3
578 MILLION ACE 5
579 MINDS TRUMAN 6
580 MINE TITANS 2
581 MINORITY KISS 1

582 MIRACLE VIRTUAL 1
583 MISSION ZOOLANDER 5
584 MIXED DOORS 6
585 MOB DUFFEL 6
586 MOCKINGBIRD HOLLYWOOD 3
587 MOD SECRETARY 6
588 MODEL FISH 8
589 MODERN DORADO 5
590 MONEY HAROLD 7
591 MONSOON CAUSE 5
592 MONSTER SPARTACUS 7
593 MONTEREY LABYRINTH 6
594 MONTEZUMA COMMAND 2
595 MOON BUNCH 1
596 MOONSHINE CABIN 5
597 MOONWALKER FOOL 7
598 MOSQUITO ARMAGEDDON 4
599 MOTHER OLEANDER 5
600 MOTIONS DETAILS 8
601 MOULIN WAKE 3
602 MOURNING PURPLE 7
603 MOVIE SHAKESPEARE 8
604 MULAN MOON 5
605 MULHOLLAND BEAST 6
606 MUMMY CREATURES 13
607 MUPPET MILE 8
608 MURDER ANTITRUST 8
609 MUSCLE BRIGHT 5
610 MUSIC BOONDOCK 3
611 MUSKETEERS WAIT 1
612 MUSSOLINI SPOILERS 7
613 MYSTIC TRUMAN 4
614 NAME DETECTIVE 3
615 NASH CHOCOLAT 7
616 NATIONAL STORY 7
617 NATURAL STOCK 4
618 NECKLACE OUTBREAK 8
619 NEIGHBORS CHARADE 7
620 NEMO CAMPUS 5
621 NETWORK PEAK 3
622 NEWSIES STORY 8
623 NEWTON LABYRINTH 4
624 NIGHTMARE CHILL 2
625 NONE SPIKING 6
626 NOON PAPI 6
627 NORTH TEQUILA 5
628 NORTHWEST POLISH 8
629 NOTORIOUS REUNION 2
630 NOTTING SPEAKEASY 2
631 NOVOCAINE FLIGHT 6
632 NUTS TIES 2
633 OCTOBER SUBMARINE 5
634 ODDS BOOGIE 5
635 OKLAHOMA JUMANJI 9
636 OLEANDER CLUE 10
637 OPEN AFRICAN 9
638 OPERATION OPERATION 3
639 OPPOSITE NECKLACE 6
640 OPUS ICE 4
641 ORANGE GRAPES 5
642 ORDER BETRAYED 7
643 ORIENT CLOSER 4
644 OSCAR GOLD 6
645 OTHERS SOUP 4
646 OUTBREAK DIVINE 5
647 OUTFIELD MASSACRE 4
648 OUTLAW HANKY 7
649 OZ LIAISONS 11
650 PACIFIC AMISTAD 8
651 PACKER MADIGAN 1
652 PAJAMA JAWBREAKER 5
653 PANIC CLUB 3
654 PANKY SUBMARINE 8
655 PANTHER REDS 5
656 PAPI NECKLACE 3
657 PARADISE SABRINA 4
658 PARIS WEEKEND 6
659 PARK CITIZEN 6
660 PARTY KNOCK 2
661 PAST SUICIDES 6
662 PATHS CONTROL 5
663 PATIENT SISTER 4
664 PATRIOT ROMAN 4
665 PATTON INTERVIEW 9
666 PAYCHECK WAIT 3
667 PEACH INNOCENT 5
668 PEAK FOREVER 5
669 PEARL DESTINY 4
670 PELICAN COMFORTS 5
671 PERDITION FARGO 5
672 PERFECT GROOVE 6
673 PERSONAL LADYBUGS 9
674 PET HAUNTING 7
675 PHANTOM GLORY 2
676 PHILADELPHIA WIFE 2
677 PIANIST OUTFIELD 5
678 PICKUP DRIVING 5
679 PILOT HOOSIERS 7
680 PINOCCHIO SIMON 11
681 PIRATES ROXANNE 1
682 PITTSBURGH HUNCHBACK 5
683 PITY BOUND 5
684 PIZZA JUMANJI 5
685 PLATOON INSTINCT 5
686 PLUTO OLEANDER 7
687 POCUS PULP 5
688 POLISH BROOKLYN 10
689 POLLOCK DELIVERANCE 6
690 POND SEATTLE 3
691 POSEIDON FOREVER 6
692 POTLUCK MIXED 6
693 POTTER CONNECTICUT 7
694 PREJUDICE OLEANDER 10
695 PRESIDENT BANG 5
696 PRIDE ALAMO 4
697 PRIMARY GLASS 7
698 PRINCESS GIANT 5
699 PRIVATE DROP 5
700 PRIX UNDEFEATED 7
701 PSYCHO SHRUNK 1
702 PULP BEVERLY 7
703 PUNK DIVORCE 7
704 PURE RUNNER 2
705 PURPLE MOVIE 8
706 QUEEN LUKE 6
707 QUEST MUSSOLINI 5
708 QUILLS BULL 4
709 RACER EGG 6
710 RAGE GAMES 7
711 RAGING AIRPLANE 3
712 RAIDERS ANTITRUST 6
713 RAINBOW SHOCK 6
714 RANDOM GO 13
715 RANGE MOONWALKER 4
716 REAP UNFAITHFUL 4
717 REAR TRADING 8
718 REBEL AIRPORT 6
719 RECORDS ZORRO 8
720 REDEMPTION COMFORTS 5
721 REDS POCUS 5
722 REEF SALUTE 4
723 REIGN GENTLEMEN 3
724 REMEMBER DIARY 4
725 REQUIEM TYCOON 8
726 RESERVOIR ADAPTATION 8
727 RESURRECTION SILVERADO 5
728 REUNION WITCHES 7
729 RIDER CADDYSHACK 9
730 RIDGEMONT SUBMARINE 5
731 RIGHT CRANES 7
732 RINGS HEARTBREAKERS 11
733 RIVER OUTLAW 4
734 ROAD ROXANNE 8
735 ROBBERS JOON 5
736 ROBBERY BRIGHT 2
737 ROCK INSTINCT 8
738 ROCKETEER MOTHER 7
739 ROCKY WAR 3
740 ROLLERCOASTER BRINGING 3
741 ROMAN PUNK 2
742 ROOF CHAMPION 5
743 ROOM ROMAN 2
744 ROOTS REMEMBER 10
745 ROSES TREASURE 5
746 ROUGE SQUAD 4
747 ROXANNE REBEL 5
748 RUGRATS SHAKESPEARE 6
749 RULES HUMAN 5
750 RUN PACIFIC 6
751 RUNAWAY TENENBAUMS 3
752 RUNNER MADIGAN 8
753 RUSH GOODFELLAS 5
754 RUSHMORE MERMAID 7
755 SABRINA MIDNIGHT 4
756 SADDLE ANTITRUST 3
757 SAGEBRUSH CLUELESS 7
758 SAINTS BRIDE 10
759 SALUTE APOLLO 4
760 SAMURAI LION 2
761 SANTA PARIS 6
762 SASSY PACKER 3
763 SATISFACTION CONFIDENTIAL 5
764 SATURDAY LAMBS 9
765 SATURN NAME 2
766 SAVANNAH TOWN 6
767 SCALAWAG DUCK 5
768 SCARFACE BANG 7
769 SCHOOL JACKET 8
770 SCISSORHANDS SLUMS 5
771 SCORPION APOLLO 8
772 SEA VIRGIN 8
773 SEABISCUIT PUNK 3
774 SEARCHERS WAIT 4
775 SEATTLE EXPECATIONS 6
776 SECRET GROUNDHOG 3
777 SECRETARY ROUGE 6
778 SECRETS PARADISE 6
779 SENSE GREEK 7
780 SENSIBILITY REAR 6
781 SEVEN SWARM 7
782 SHAKESPEARE SADDLE 6
783 SHANE DARKNESS 3
784 SHANGHAI TYCOON 8
785 SHAWSHANK BUBBLE 10
786 SHEPHERD MIDSUMMER 5
787 SHINING ROSES 5
788 SHIP WONDERLAND 8
789 SHOCK CABIN 1
790 SHOOTIST SUPERFLY 3
791 SHOW LORD 2
792 SHREK LICENSE 3
793 SHRUNK DIVINE 4
794 SIDE ARK 6
795 SIEGE MADRE 7
796 SIERRA DIVIDE 5
797 SILENCE KANE 4
798 SILVERADO GOLDFINGER 5
799 SIMON NORTH 3
800 SINNERS ATLANTIS 4
801 SISTER FREDDY 3
802 SKY MIRACLE 12
804 SLEEPING SUSPECTS 4
805 SLEEPLESS MONSOON 4
806 SLEEPY JAPANESE 6
807 SLEUTH ORIENT 7
808 SLING LUKE 3
809 SLIPPER FIDELITY 7
810 SLUMS DUCK 3
811 SMILE EARRING 8
812 SMOKING BARBARELLA 6
813 SMOOCHY CONTROL 2
814 SNATCH SLIPPER 3
815 SNATCHERS MONTEZUMA 9
816 SNOWMAN ROLLERCOASTER 3
817 SOLDIERS EVOLUTION 9
818 SOMETHING DUCK 3
819 SONG HEDWIG 5
820 SONS INTERVIEW 6
821 SORORITY QUEEN 4
822 SOUP WISDOM 2
823 SOUTH WAIT 2
824 SPARTACUS CHEAPER 3
825 SPEAKEASY DATE 3
826 SPEED SUIT 6
827 SPICE SORORITY 11
828 SPIKING ELEMENT 6
829 SPINAL ROCKY 8
830 SPIRIT FLINTSTONES 11
831 SPIRITED CASUALTIES 5
832 SPLASH GUMP 10
833 SPLENDOR PATTON 10
834 SPOILERS HELLFIGHTERS 7
835 SPY MILE 8
836 SQUAD FISH 5
837 STAGE WORLD 2
838 STAGECOACH ARMAGEDDON 6
839 STALLION SUNDANCE 7
840 STAMPEDE DISTURBING 6
841 STAR OPERATION 5
842 STATE WASTELAND 7
843 STEEL SANTA 3
844 STEERS ARMAGEDDON 4
845 STEPMOM DREAM 4
846 STING PERSONAL 7
847 STOCK GLASS 7
848 STONE FIRE 1
849 STORM HAPPINESS 8
850 STORY SIDE 5
851 STRAIGHT HOURS 3
852 STRANGELOVE DESIRE 9
853 STRANGER STRANGERS 9
854 STRANGERS GRAFFITI 5
855 STREAK RIDGEMONT 3
856 STREETCAR INTENTIONS 7
857 STRICTLY SCARFACE 4
858 SUBMARINE BED 11
859 SUGAR WONKA 5
860 SUICIDES SILENCE 3
861 SUIT WALLS 5
862 SUMMER SCARFACE 8
863 SUN CONFESSIONS 5
864 SUNDANCE INVASION 7
865 SUNRISE LEAGUE 5
866 SUNSET RACER 3
867 SUPER WYOMING 3
868 SUPERFLY TRIP 7
869 SUSPECTS QUILLS 8
870 SWARM GOLD 6
871 SWEDEN SHINING 5
872 SWEET BROTHERHOOD 6
873 SWEETHEARTS SUSPECTS 5
874 TADPOLE PARK 8
875 TALENTED HOMICIDE 5
876 TARZAN VIDEOTAPE 3
877 TAXI KICK 6
878 TEEN APOLLO 5
879 TELEGRAPH VOYAGE 7
880 TELEMARK HEARTBREAKERS 11
881 TEMPLE ATTRACTION 5
882 TENENBAUMS COMMAND 5
883 TEQUILA PAST 3
884 TERMINATOR CLUB 2
885 TEXAS WATCH 6
886 THEORY MERMAID 6
887 THIEF PELICAN 7
888 THIN SAGEBRUSH 2
889 TIES HUNGER 6
890 TIGHTS DAWN 5
891 TIMBERLAND SKY 4
892 TITANIC BOONDOCK 12
893 TITANS JERK 7
894 TOMATOES HELLFIGHTERS 9
895 TOMORROW HUSTLER 6
896 TOOTSIE PILOT 5
897 TORQUE BOUND 5
898 TOURIST PELICAN 3
899 TOWERS HURRICANE 4
900 TOWN ARK 4
901 TRACY CIDER 3
902 TRADING PINOCCHIO 3
903 TRAFFIC HOBBIT 4
904 TRAIN BUNCH 4
905 TRAINSPOTTING STRANGERS 4
906 TRAMP OTHERS 6
907 TRANSLATION SUMMER 3
908 TRAP GUYS 7
909 TREASURE COMMAND 7
910 TREATMENT JEKYLL 5
911 TRIP NEWTON 4
912 TROJAN TOMORROW 8
913 TROOPERS METAL 5
914 TROUBLE DATE 8
915 TRUMAN CRAZY 6
916 TURN STAR 3
917 TUXEDO MILE 3
918 TWISTED PIRATES 3
919 TYCOON GATHERING 6
920 UNBREAKABLE KARATE 8
921 UNCUT SUICIDES 7
922 UNDEFEATED DALMATIONS 3
923 UNFAITHFUL KILL 8
924 UNFORGIVEN ZOOLANDER 7
925 UNITED PILOT 6
926 UNTOUCHABLES SUNRISE 5
927 UPRISING UPTOWN 5
928 UPTOWN YOUNG 7
929 USUAL UNTOUCHABLES 5
930 VACATION BOONDOCK 6
931 VALENTINE VANISHING 2
932 VALLEY PACKER 4
933 VAMPIRE WHALE 5
934 VANILLA DAY 2
935 VANISHED GARDEN 2
936 VANISHING ROCKY 5
937 VARSITY TRIP 3
938 VELVET TERMINATOR 9
939 VERTIGO NORTHWEST 4
940 VICTORY ACADEMY 5
941 VIDEOTAPE ARSENIC 5
942 VIETNAM SMOOCHY 2
943 VILLAIN DESPERATE 2
944 VIRGIN DAISY 8
945 VIRGINIAN PLUTO 8
946 VIRTUAL SPOILERS 3
947 VISION TORQUE 5
948 VOICE PEACH 3
949 VOLCANO TEXAS 5
950 VOLUME HOUSE 5
951 VOYAGE LEGALLY 5
952 WAGON JAWS 6
953 WAIT CIDER 9
954 WAKE JAWS 5
955 WALLS ARTIST 5
956 WANDA CHAMBER 7
957 WAR NOTTING 9
958 WARDROBE PHANTOM 8
959 WARLOCK WEREWOLF 6
960 WARS PLUTO 4
961 WASH HEAVENLY 5
962 WASTELAND DIVINE 6
963 WATCH TRACY 5
964 WATERFRONT DELIVERANCE 6
965 WATERSHIP FRONTIER 6
966 WEDDING APOLLO 10
967 WEEKEND PERSONAL 10
968 WEREWOLF LOLA 7
969 WEST LION 9
970 WESTWARD SEABISCUIT 6
971 WHALE BIKINI 5
972 WHISPERER GIANT 3
973 WIFE TURN 6
974 WILD APOLLO 4
975 WILLOW TRACY 2
976 WIND PHANTOM 3
977 WINDOW SIDE 4
978 WISDOM WORKER 7
979 WITCHES PANIC 4
980 WIZARD COLDBLOODED 9
981 WOLVES DESIRE 6
982 WOMEN DORADO 5
983 WON DARES 5
984 WONDERFUL DROP 4
985 WONDERLAND CHRISTMAS 5
986 WONKA SEA 2
987 WORDS HUNTER 6
988 WORKER TARZAN 9
989 WORKING MICROCOSMOS 5
990 WORLD LEATHERNECKS 8
991 WORST BANGER 4
992 WRATH MILE 4
993 WRONG BEHAVIOR 9
994 WYOMING STORM 6
995 YENTL IDAHO 1
996 YOUNG LANGUAGE 5
997 YOUTH KICK 5
998 ZHIVAGO CORE 6
999 ZOOLANDER FICTION 5
1000 ZORRO ARK 3

-- 6d. How many copies of the film Hunchback Impossible exist in the inventory system?

In [114]:
Inventory = Base.classes.inventory

In [115]:
columns = inspector.get_columns('inventory')
for column in columns:
    print(column["name"], column["type"])

inventory_id MEDIUMINT(8) UNSIGNED
film_id SMALLINT(5) UNSIGNED
store_id TINYINT(3) UNSIGNED
last_update TIMESTAMP

In [116]:
len(
    session.query(Inventory.inventory_id) \
    .filter(Inventory.film_id == Film.film_id) \
    .filter(Film.title == 'Hunchback Impossible') \
    .all()
)

6

-- 6e. Using the tables payment and customer and the JOIN command, list the total paid by each customer. 
-- List the customers alphabetically by last name:

In [117]:
Customer = Base.classes.customer

In [118]:
columns = inspector.get_columns('customer')
for column in columns:
    print(column["name"], column["type"])

customer_id SMALLINT(5) UNSIGNED
store_id TINYINT(3) UNSIGNED
first_name VARCHAR(45)
last_name VARCHAR(45)
email VARCHAR(50)
address_id SMALLINT(5) UNSIGNED
active TINYINT(1)
create_date DATETIME
last_update TIMESTAMP

In [126]:
result = session.query(
    Customer.customer_id,
    Customer.first_name,
    Customer.last_name,
    func.sum(Payment.amount).label('total_amount')
) \
.join(Customer, Payment.customer_id == Customer.customer_id) \
.group_by(Payment.customer_id) \
.order_by(Customer.last_name, Customer.first_name)

In [127]:
result.column_descriptions

[{'name': 'customer_id',
  'type': SMALLINT(display_width=5, unsigned=True),
  'aliased': False,
  'expr': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x10a324360>,
  'entity': sqlalchemy.ext.automap.customer},
 {'name': 'first_name',
  'type': VARCHAR(length=45),
  'aliased': False,
  'expr': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x10a3244c0>,
  'entity': sqlalchemy.ext.automap.customer},
 {'name': 'last_name',
  'type': VARCHAR(length=45),
  'aliased': False,
  'expr': <sqlalchemy.orm.attributes.InstrumentedAttribute at 0x10a324570>,
  'entity': sqlalchemy.ext.automap.customer},
 {'name': 'total_amount',
  'type': DECIMAL(precision=5, scale=2),
  'aliased': False,
  'expr': <sqlalchemy.sql.elements.Label object at 0x11ec39a20>,
  'entity': sqlalchemy.ext.automap.payment}]

In [122]:
for row in result:
    print(*row)

505 RAFAEL ABNEY 97.79
504 NATHANIEL ADAM 133.72
36 KATHLEEN ADAMS 92.73
96 DIANA ALEXANDER 105.73
470 GORDON ALLARD 160.68
27 SHIRLEY ALLEN 126.69
220 CHARLENE ALVAREZ 114.73
11 LISA ANDERSON 106.76
326 JOSE ANDREW 96.75
183 IDA ANDREWS 76.77
449 OSCAR AQUINO 99.80
368 HARRY ARCE 157.65
560 JORDAN ARCHULETA 132.70
188 MELANIE ARMSTRONG 92.75
170 BEATRICE ARNOLD 119.74
591 KENT ARSENAULT 134.73
345 CARL ARTIS 106.77
530 DARRYL ASHCRAFT 76.77
540 TYRONE ASHER 112.76
196 ALMA AUSTIN 151.65
60 MILDRED BAILEY 98.75
37 PAMELA BAKER 95.77
383 MARTIN BALES 103.73
559 EVERETT BANDA 110.72
215 JESSIE BANKS 91.74
551 CLAYTON BARBEE 96.74
503 ANGEL BARCLAY 115.68
362 NICHOLAS BARFIELD 145.68
382 VICTOR BARKLEY 91.76
79 RACHEL BARNES 84.78
275 CAROLE BARNETT 108.70
280 TRACEY BARRETT 118.73
295 DAISY BATES 162.62
317 EDWARD BAUGH 114.72
301 ROBERT BAUGHMAN 92.79
58 JEAN BELL 115.73
511 CHESTER BENNER 99.76
77 JANE BENNETT 100.72
168 REGINA BERRY 135.66
495 CHARLIE BESS 120.74
448 MIGUEL BETANCOURT 135.71
344 HENRY BILLINGSLEY 73.82
217 AGNES BISHOP 98.77
149 VALERIE BLACK 121.74
461 DEREK BLAKELY 97.72
539 MATHEW BOLIN 90.78
433 DON BONE 133.75
460 LEON BOSTIC 109.75
381 BOBBY BOUDREAU 106.65
476 DERRICK BOURQUE 95.78
447 CLIFFORD BOWENS 113.71
248 CAROLINE BOWMAN 50.85
573 BYRON BOX 120.71
134 EMMA BOYD 94.77
181 ANA BRADLEY 174.66
538 TED BREAUX 117.71
251 VICKIE BREWER 120.69
380 RUSSELL BRINSON 136.64
73 BEVERLY BROOKS 97.76
394 CHRIS BROTHERS 84.78
5 ELIZABETH BROWN 144.62
550 GUY BROWNLEE 159.68
95 PAULA BRYANT 77.82
537 CLINTON BUFORD 103.75
469 WESLEY BULL 177.60
325 TIMOTHY BUNN 91.78
432 EDWIN BURK 116.77
243 LYDIA BURKE 82.76
572 SIDNEY BURLESON 108.75
142 APRIL BURNS 94.74
227 COLLEEN BURTON 87.76
442 LEROY BUSTAMANTE 118.68
91 LOIS BUTLER 113.65
412 ALLEN BUTTERFIELD 85.79
261 DEANNA BYRD 107.74
310 DANIEL CABRAL 97.80
272 KAY CALDWELL 98.80
46 CATHERINE CAMPBELL 142.66
419 CHAD CARBONE 89.75
253 TERRY CARLSON 127.71
189 LORETTA CARPENTER 93.78
205 EILEEN CARR 80.82
401 TONY CARRANZA 74.78
176 JUNE CARROLL 173.63
40 AMANDA CARTER 110.73
468 TIM CARY 175.61
423 ALFRED CASILLAS 120.74
207 GERTRUDE CASTILLO 137.66
282 JENNY CASTRO 103.73
393 PHILIP CAUSEY 121.69
290 KRISTINA CHAMBERS 109.72
483 VERNON CHAPA 88.82
209 TONYA CHAPMAN 161.68
194 KRISTEN CHAVEZ 87.82
441 MARIO CHEATHAM 112.72
475 PEDRO CHESTNUT 103.76
571 JOHNNIE CHISHOLM 121.76
494 RAMON CHOATE 140.69
549 NELSON CHRISTENSON 77.80
536 FERNANDO CHURCHILL 117.75
599 AUSTIN CINTRON 83.81
21 MICHELLE CLARK 155.65
525 ADRIAN CLARY 74.81
440 BERNARD COLBY 88.78
108 TRACY COLE 132.70
82 KATHRYN COLEMAN 130.74
459 TOMMY COLLAZO 186.62
50 DIANE COLLINS 169.65
56 GLORIA COOK 135.70
62 JOAN COOPER 84.77
548 ALLAN CORNISH 79.81
502 BRETT CORNWELL 138.66
379 CARLOS COUGHLIN 106.77
64 JUDITH COX 100.67
324 GARY COY 103.75
288 BOBBIE CRAIG 80.76
132 ESTHER CRAWFORD 95.72
482 MAURICE CRAWLEY 138.71
570 IVAN CROMWELL 99.74
352 ALBERT CROUSE 99.77
118 KIM CRUZ 82.79
446 THEODORE CULP 116.69
378 EUGENE CULPEPPER 71.81
180 STACY CUNNINGHAM 98.77
316 STEVEN CURLEY 132.71
411 NORMAN CURRIER 80.74
270 LEAH CURTIS 104.75
150 DANIELLE DANIELS 105.75
262 PATSY DAVIDSON 119.72
6 JENNIFER DAVIS 93.72
245 COURTNEY DAY 132.68
236 MARCIA DEAN 175.58
467 ALVIN DELOACH 139.71
519 RON DELUCA 103.77
598 WADE DELVALLE 83.78
481 HERMAN DEVORE 115.71
99 EMILY DIAZ 91.76
139 AMBER DIXON 113.73
257 MARSHA DOUGLAS 151.63
392 SEAN DOUGLASS 91.77
458 LLOYD DOWD 66.81
597 FREDDIE DUGGAN 99.75
177 SAMANTHA DUNCAN 71.77
160 ERIN DUNN 106.73
418 JEFF EAST 107.70
510 BEN EASTER 122.74
466 LEO EBERT 104.77
49 JOYCE EDWARDS 130.72
558 JIMMIE EGGLESTON 135.72
422 MELVIN ELLINGTON 97.74
193 KATIE ELLIOTT 109.75
114 GRACE ELLIS 139.67
535 JAVIER ELROD 135.68
524 JARED ELY 87.81
547 KURT EMMONS 99.77
417 TRAVIS ESTEP 110.75
48 ANN EVANS 76.83
300 JOHN FARNSWORTH 137.69
439 ALEXANDER FENNELL 151.64
156 BERTHA FERGUSON 101.75
223 MELINDA FERNANDEZ 80.83
201 VICKI FIELDS 108.75
113 CINDY FISHER 113.71
258 MYRTLE FLEMING 110.76
293 MAE FLETCHER 158.69
89 JULIA FLORES 134.68
102 CRYSTAL FORD 137.67
445 MICHEAL FORMAN 102.74
596 ENRIQUE FORSYTHE 96.72
509 RAUL FORTIER 100.80
377 HOWARD FORTNER 93.74
93 PHYLLIS FOSTER 91.77
351 JACK FOUST 89.76
250 JO FOWLER 73.80
186 HOLLY FOX 114.69
350 JUAN FRALEY 73.77
431 JOEL FRANCISCO 95.77
199 BETH FRANKLIN 103.75
242 GLENDA FRAZIER 140.68
123 SHANNON FREEMAN 100.76
234 CLAUDIA FULLER 111.74
356 GERALD FULTZ 121.70
557 FELIX GAFFNEY 73.76
376 RANDY GAITHER 110.72
391 CLARENCE GAMEZ 104.70
465 FLOYD GANDY 69.83
299 JAMES GANNON 131.70
18 CAROL GARCIA 91.78
569 DAVE GARDINER 134.68
164 JOANN GARDNER 66.84
238 NELLIE GARRETT 94.79
224 PEARL GARZA 76.78
457 BILL GAVIN 114.72
501 RUBEN GEARY 89.79
230 JOY GEORGE 124.67
116 VICTORIA GIBSON 111.73
237 TANYA GILBERT 144.67
474 DUSTIN GILLETTE 100.74
349 JOE GILLILAND 138.71
338 DENNIS GILMAN 114.72
121 JOSEPHINE GOMEZ 109.74
94 NORMA GONZALES 79.79
38 MARTHA GONZALEZ 127.66
367 ADAM GOOCH 101.78
315 KENNETH GOODEN 84.83
143 LESLIE GORDON 89.78
343 DOUGLAS GRAF 114.75
104 RITA GRAHAM 92.76
154 MICHELE GRANT 130.70
276 BRANDY GRAVES 122.72
69 JUDY GRAY 96.75
309 CHRISTOPHER GRECO 147.69
35 VIRGINIA GREEN 129.68
191 JEANETTE GREENE 74.80
284 SONIA GREGORY 126.72
454 ALEX GRESHAM 151.67
580 ROSS GREY 99.73
98 LILLIAN GRIFFIN 106.75
308 THOMAS GRIGSBY 105.75
355 TERRY GRISSOM 72.80
556 ARMANDO GRUBER 83.79
523 HARVEY GUAJARDO 93.78
529 ERIK GUILLEN 118.71
595 TERRENCE GUNDERSON 117.70
202 CARLA GUTIERREZ 103.74
296 RAMONA HALE 129.70
26 JESSICA HALL 152.66
103 GLADYS HAMILTON 146.69
590 SETH HANNON 112.75
222 DELORES HANSEN 91.79
244 VIOLA HANSON 129.68
518 GABRIEL HARDER 111.74
400 BRYAN HARDISON 124.72
493 BRENT HARKINS 112.77
185 ROBERTA HARPER 84.77
15 HELEN HARRIS 134.68
115 WENDY HARRISON 91.70
179 DANA HART 133.71
225 ARLENE HARVEY 120.74
480 COREY HAUSER 101.78
522 ARNOLD HAVENS 167.67
159 JILL HAWKINS 68.79
421 LEE HAWKS 119.73
100 ROBIN HAYES 102.76
390 SHAWN HEATON 152.67
81 ANDREA HENDERSON 93.78
568 ALBERTO HENNING 66.79
133 PAULINE HENRY 98.73
29 ANGELA HERNANDEZ 140.64
266 NORA HERRERA 118.72
589 TRACY HERRMANN 129.72
528 CLAUDE HERZOG 111.75
594 EDUARDO HIATT 130.73
131 MONICA HICKS 128.70
444 MARCUS HIDALGO 115.70
33 ANNA HILL 91.79
479 ZACHARY HITE 146.69
252 MATTIE HOFFMAN 64.78
256 MABEL HOLLAND 112.70
385 PHILLIP HOLM 101.74
145 LUCILLE HOLMES 108.72
291 TONI HOLT 95.77
263 HILDA HOPKINS 122.71
278 BILLIE HORTON 88.74
430 RAY HOULE 79.78
65 ROSE HOWARD 103.78
219 WILLIE HOWELL 101.74
508 MILTON HOWLAND 127.75
162 LAUREN HUDSON 71.80
366 BRANDON HUEY 152.63
88 BONNIE HUGHES 87.79
148 ELEANOR HUNT 216.54
130 CHARLOTTE HUNTER 93.76
374 JEREMY HURTADO 103.72
410 CURTIS IRBY 167.62
429 FREDERICK ISBELL 105.79
399 DANNY ISOM 91.79
13 KAREN JACKSON 131.73
231 GEORGIA JACOBS 110.74
71 KATHY JAMES 129.70
83 LOUISE JENKINS 101.75
274 NAOMI JENNINGS 152.65
259 LENA JENSEN 170.67
277 OLGA JIMENEZ 144.68
2 PATRICIA JOHNSON 128.73
214 KRISTIN JOHNSTON 116.69
4 BARBARA JONES 81.78
110 TIFFANY JORDAN 59.86
337 JERRY JORDON 143.71
307 JOSEPH JOY 134.70
534 CHRISTIAN JUNG 88.76
389 ALAN KAHN 124.74
198 ELSIE KELLEY 141.63
74 DENISE KELLY 103.73
137 RHONDA KENNEDY 194.61
464 JEROME KENYON 73.84
233 LILLIE KIM 89.77
500 REGINALD KINDER 115.72
30 MELISSA KING 123.66
155 GAIL KNIGHT 109.75
546 KELLY KNOTT 107.74
306 CHARLES KOWALSKI 138.68
492 LESTER KRAUS 65.84
428 HERBERT KRUGER 78.80
292 MISTY LAMBERT 118.73
420 JACOB LANCE 79.79
182 RENEE LANE 97.74
241 HEIDI LARSON 122.66
579 DARYL LARUE 111.73
192 LAURIE LAWRENCE 99.77
200 JEANNE LAWSON 136.73
361 LAWRENCE LAWTON 100.69
24 KIMBERLY LEE 95.75
373 LOUIS LEONE 161.65
23 SARAH LEWIS 119.70
314 GEORGE LINTON 131.67
226 MAUREEN LITTLE 87.79
555 DWIGHT LOMBARDI 74.83
86 JACQUELINE LONG 148.67
32 AMY LOPEZ 127.71
438 BARRY LOVELACE 134.67
273 PRISCILLA LOWE 157.65
286 VELMA LUCAS 117.73
578 WILLARD LUMPKIN 96.78
478 LEWIS LYMAN 86.81
235 JACKIE LYNCH 93.75
372 STEVE MACKENZIE 158.66
360 RALPH MADRIGAL 150.66
323 MATTHEW MAHAN 114.69
313 DONALD MAHON 89.77
577 CLIFTON MALCOLM 118.72
336 JOSHUA MARK 119.70
359 WILLIE MARKHAM 101.75
358 SAMUEL MARLOW 80.79
119 SHERRY MARSHALL 153.66
453 CALVIN MARTEL 111.77
16 SANDRA MARTIN 120.71
19 RUTH MARTINEZ 125.76
342 HAROLD MARTINO 130.68
135 JUANITA MASON 110.70
169 ERICA MATTHEWS 95.78
491 RICK MATTOX 124.73
335 GREGORY MAULDIN 78.77
264 GWENDOLYN MAY 98.75
567 ALFREDO MCADAMS 85.80
593 RENE MCALISTER 113.74
576 MORRIS MCCARTER 139.66
427 JESUS MCCARTNEY 114.76
218 VERA MCCOY 67.82
305 RICHARD MCCRARY 109.75
517 BRAD MCCURDY 105.75
117 EDITH MCDONALD 71.81
490 SAM MCDUFFIE 117.76
285 MIRIAM MCKINNEY 135.74
334 RAYMOND MCWHORTER 135.70
489 RICARDO MEADOR 99.79
249 DORA MEDINA 107.77
527 CORY MEEHAN 81.76
398 ANTONIO MEEK 78.84
566 CASEY MENA 141.66
341 PETER MENARD 106.77
246 MARIAN MENDOZA 107.77
216 NATALIE MEYER 95.77
533 JESSIE MILAM 141.67
287 BECKY MILES 115.71
488 SHANE MILLARD 95.78
7 MARIA MILLER 151.67
152 ALICIA MILLS 83.79
452 TOM MILNER 107.68
41 STEPHANIE MITCHELL 118.75
409 RODNEY MOELLER 104.77
211 STACEY MONTGOMERY 151.66
9 MARGARET MOORE 89.77
136 ANITA MORALES 62.85
247 STELLA MORENO 104.78
57 EVELYN MORGAN 114.72
388 CRAIG MORRELL 124.70
53 HEATHER MORRIS 115.70
221 BESSIE MORRISON 132.72
322 JASON MORRISSEY 128.72
426 BRADLEY MOTLEY 126.73
59 CHERYL MURPHY 133.73
122 THELMA MURRAY 126.68
408 MANUEL MURRELL 116.70
101 PEGGY MYERS 96.76
271 PENNY NEAL 68.82
39 DEBRA NELSON 141.71
565 JAIME NETTLES 126.71
437 RANDALL NEUMANN 99.77
340 PATRICK NEWSOM 119.69
354 JUSTIN NGO 129.64
229 TAMARA NGUYEN 93.75
153 SUZANNE NICHOLS 94.76
516 ELMER NOE 98.74
545 JULIO NOLAND 89.79
544 CODY NOLEN 98.78
281 LEONA OBRIEN 50.86
588 MARION OCAMPO 115.71
575 ISAAC OGLESBY 126.71
473 JORGE OLIVARES 134.66
210 ELLA OLIVER 137.69
175 ANNETTE OLSON 98.76
554 DWAYNE OLVERA 101.78
120 SYLVIA ORTIZ 143.68
499 MARC OUTLAW 123.70
111 CARMEN OWENS 97.74
477 DAN PAINE 109.78
151 MEGAN PALMER 92.73
47 FRANCES PARKER 108.78
87 WANDA PATTERSON 145.70
166 LYNN PAYNE 123.72
255 IRMA PEARSON 70.82
543 LANCE PEMBERTON 82.78
298 ERIKA PENA 101.74
42 CAROLYN PEREZ 117.70
161 GERALDINE PERKINS 112.70
84 SARA PERRY 141.67
339 WALTER PERRYMAN 127.70
197 SUE PETERS 154.60
68 NICOLE PETERSON 94.78
564 BOB PFEIFFER 91.76
45 JANET PHILLIPS 127.73
167 SALLY PIERCE 119.68
416 JEFFERY PINSON 121.69
553 MAX PITT 107.76
487 HECTOR POINDEXTER 119.74

129 CARRIE PORTER 124.66
371 BILLY POULIN 149.65
85 ANNE POWELL 87.77
463 DARRELL POWER 91.75
563 KEN PREWITT 110.71
76 IRENE PRICE 77.77
415 GLENN PULLEN 93.77
333 ANDREW PURDY 109.73
332 STEPHEN QUALLS 118.72
436 TROY QUIGLEY 144.70
348 ROGER QUINTANILLA 146.64
414 VINCENT RALSTON 105.75
70 CHRISTINA RAMIREZ 80.82
140 EVA RAMOS 83.82
515 ANDRE RAPP 126.72
407 DALE RATCLIFF 112.73
173 AUDREY RAY 119.71
451 JIM REA 128.67
55 DORIS REED 100.78
232 CONSTANCE REID 95.75
532 NEIL RENNER 152.68
141 DEBBIE REYES 130.68
112 ROSA REYNOLDS 133.70
507 EDGAR RHOADS 95.75
297 SHERRI RHODES 128.67
146 JAMIE RICE 139.71
212 WILMA RICHARDS 91.80
63 ASHLEY RICHARDSON 112.75
456 RONNIE RICKETTS 100.75
357 KEITH RICO 89.74
187 BRITTANY RILEY 159.72
312 MARK RINEHART 104.74
61 KATHERINE RIVERA 58.86
450 JAY ROBB 89.74
331 ERIC ROBERT 122.73
43 CHRISTINE ROBERTS 99.76
147 JOANNE ROBERTSON 127.66
472 GREG ROBINS 141.70
20 SHARON ROBINSON 115.70
22 LAURA RODRIGUEZ 113.78
289 VIOLET RODRIQUEZ 142.70
54 TERESA ROGERS 128.71
239 MINNIE ROMERO 142.66
157 DARLENE ROSE 113.69
80 MARILYN ROSS 137.70
592 TERRANCE ROUSH 111.71
304 DAVID ROYAL 115.74
184 VIVIAN RUIZ 90.77
406 NATHAN RUNYON 122.68
97 ANNIE RUSSELL 58.82
203 TARA RYAN 88.80
347 RYAN SALISBURY 142.70
498 GENE SANBORN 97.73
52 JULIE SANCHEZ 107.71
75 TAMMY SANDERS 155.59
303 WILLIAM SATTERFIELD 100.74
471 DEAN SAUER 109.73
353 JONATHAN SCARBOROUGH 72.82
387 JESSE SCHILLING 101.74
204 ROSEMARY SCHMIDT 147.65
405 LEONARD SCHOFIELD 109.68
397 JIMMY SCHRADER 105.71
321 KEVIN SCHULER 116.78
320 ANTHONY SCHWAB 71.80
365 BRUCE SCHWARZ 103.77
34 REBECCA SCOTT 89.76
404 STANLEY SCROGGINS 139.70
526 KARL SEAL 221.55
375 AARON SELBY 110.76
506 LESLIE SEWARD 152.65
396 EARL SHANKS 111.73
144 CLARA SHAW 195.58
435 RICKY SHELBY 91.75
330 SCOTT SHELLEY 94.75
279 DIANNE SHELTON 135.69
462 WARREN SHERROD 159.67
425 FRANCIS SIKES 104.74
254 MAXINE SILVA 116.68
302 MICHAEL SILVERMAN 127.71
92 TINA SIMMONS 133.72
346 ARTHUR SIMPKINS 155.68
126 ELLEN SIMPSON 117.72
195 VANESSA SIMS 86.81
443 FRANCISCO SKIDMORE 98.78
497 GILBERT SLEDGE 129.72
562 WALLACE SLONE 109.75
1 MARY SMITH 118.68
178 MARION SNYDER 194.61
268 NINA SOTO 123.71
521 ROLAND SOUTH 80.77
328 JEFFREY SPEAR 90.77
163 CATHY SPENCER 122.71
424 KYLE SPURLOCK 110.70
587 SERGIO STANFIELD 108.74
228 ALLISON STANLEY 92.73
586 KIRK STCLAIR 64.81
165 LORRAINE STEPHENS 86.79
384 ERNEST STEPP 89.75
127 ELAINE STEVENS 107.76
51 ALICE STEWART 138.67
561 IAN STILL 96.73
158 VERONICA STONE 126.68
105 DAWN SULLIVAN 120.74
283 FELICIA SUTTON 86.72
585 PERRY SWAFFORD 117.76
486 GLEN TALBERT 113.74
386 TODD TAN 117.71
10 DOROTHY TAYLOR 99.75
584 SALVADOR TEEL 129.70
265 JENNIE TERRY 133.71
12 NANCY THOMAS 103.72
17 DONNA THOMPSON 98.79
583 MARSHALL THORN 117.77
327 LARRY THRASHER 112.74
542 LONNIE TIRADO 94.82
485 CLYDE TOBIAS 115.71
434 EDDIE TOMLIN 128.73
67 KELLY TORRES 99.78
311 PAUL TROUT 120.77
514 FRANKLIN TROUTMAN 74.78
370 WAYNE TRUONG 70.81
513 DUANE TUBBS 148.69
128 MARJORIE TUCKER 127.68
44 MARIE TURNER 114.74
395 JOHNNY TURPIN 57.81
582 ANDY VANHORN 113.75
260 CHRISTY VARGAS 122.69
364 BENJAMIN VARNEY 95.77
206 TERRI VASQUEZ 126.73
574 JULIAN VEST 109.72
512 CECIL VINES 115.74
484 ROBERTO VU 139.70
267 MARGIE WADE 159.64
329 FRANK WAGGONER 127.68
171 DOLORES WAGNER 114.74
552 HUGH WALDROP 90.79
25 DEBORAH WALKER 115.71
106 CONNIE WALLACE 100.77
269 CASSANDRA WALTERS 129.70
66 JANICE WARD 144.66
138 HAZEL WARREN 110.66
90 RUBY WASHINGTON 110.72
174 YVONNE WATKINS 92.79
72 THERESA WATSON 99.70
294 SHELLY WATTS 113.74
531 JAMIE WAUGH 118.75
403 MIKE WAY 166.65
190 YOLANDA WEAVER 110.73
125 ETHEL WEBB 135.68
319 RONALD WEINER 132.70
240 MARLENE WELCH 117.74
124 SHEILA WELLS 73.82
109 EDNA WEST 107.74
520 MITCHELL WESTMORELAND 134.68
369 FRED WHEAT 88.75
208 LUCY WHEELER 91.74
14 BETTY WHITE 117.72
363 ROY WHITING 143.71
455 JON WILES 87.76
3 LINDA WILLIAMS 135.74
213 GINA WILLIAMSON 111.72
172 BERNICE WILLIS 145.67
8 SUSAN WILSON 92.76
541 DARREN WINDHAM 108.76
581 VIRGIL WOFFORD 107.73
78 LORI WOOD 141.69
107 FLORENCE WOODS 126.70
496 TYLER WREN 88.79
31 BRENDA WRIGHT 104.74
318 BRIAN WYMAN 52.88
402 LUIS YANEZ 79.80
413 MARVIN YEE 75.79
28 CYNTHIA YOUNG 111.68

-- 7a. The music of Queen and Kris Kristofferson have seen an unlikely resurgence. 
-- As an unintended consequence, films starting with the letters K and Q have also soared in popularity. 
-- Use subqueries to display the titles of movies starting with the letters K and Q whose language is English.

In [123]:
Language = Base.classes.language

In [124]:
columns = inspector.get_columns('language')
for column in columns:
    print(column["name"], column["type"])

language_id TINYINT(3) UNSIGNED
name CHAR(20)
last_update TIMESTAMP

In [129]:
result = session.query(
    Film.film_id,
    Film.title,
    Language.name
) \
.join(Language, Film.language_id == Language.language_id) \
.filter(or_(Film.title.like('K%'), Film.title.like('Q%'))) \
.filter(Language.name == 'English')

In [130]:
for row in result:
    print(*row)

493 KANE EXORCIST English
494 KARATE MOON English
495 KENTUCKIAN GIANT English
496 KICK SAVANNAH English
497 KILL BROTHERHOOD English
498 KILLER INNOCENT English
499 KING EVOLUTION English
500 KISS GLORY English
501 KISSING DOLLS English
502 KNOCK WARLOCK English
503 KRAMER CHOCOLATE English
504 KWAI HOMEWARD English
706 QUEEN LUKE English
707 QUEST MUSSOLINI English
708 QUILLS BULL English

-- 7b. Use subqueries to display all actors who appear in the film Alone Trip.

In [131]:
columns = inspector.get_columns('actor')
for column in columns:
    print(column["name"], column["type"])

actor_id SMALLINT(5) UNSIGNED
first_name VARCHAR(45)
last_name VARCHAR(45)
last_update TIMESTAMP
actor_name VARCHAR(50)

In [132]:
columns = inspector.get_columns('film_actor')
for column in columns:
    print(column["name"], column["type"])

actor_id SMALLINT(5) UNSIGNED
film_id SMALLINT(5) UNSIGNED
last_update TIMESTAMP

In [133]:
columns = inspector.get_columns('film')
for column in columns:
    print(column["name"], column["type"])

film_id SMALLINT(5) UNSIGNED
title VARCHAR(255)
description TEXT
release_year YEAR(4)
language_id TINYINT(3) UNSIGNED
original_language_id TINYINT(3) UNSIGNED
rental_duration TINYINT(3) UNSIGNED
rental_rate DECIMAL(4, 2)
length SMALLINT(5) UNSIGNED
replacement_cost DECIMAL(5, 2)
rating ENUM('G','PG','PG-13','R','NC-17')
special_features SET('Trailers','Commentaries','Deleted Scenes','Behind the Scenes')
last_update TIMESTAMP

In [139]:
result = session.query(
    Actor.actor_id,
    Actor.first_name,
    Actor.last_name,
    Film.title
) \
.join(Film_Actor, Actor.actor_id == Film_Actor.actor_id) \
.join(Film, Film_Actor.film_id == Film.film_id) \
.filter(Film.title == 'Alone Trip')

In [140]:
for row in result:
    print(*row)

3 ED CHASE ALONE TRIP
12 KARL BERRY ALONE TRIP
13 UMA WOOD ALONE TRIP
82 WOODY JOLIE ALONE TRIP
100 SPENCER DEPP ALONE TRIP
160 CHRIS DEPP ALONE TRIP
167 LAURENCE BULLOCK ALONE TRIP
187 RENEE BALL ALONE TRIP

In [141]:
# Using filter only
result = session.query(
    Actor.actor_id,
    Actor.first_name,
    Actor.last_name,
    Film.title
) \
.filter(Actor.actor_id == Film_Actor.actor_id) \
.filter(Film_Actor.film_id == Film.film_id) \
.filter(Film.title == 'Alone Trip')

In [142]:
for row in result:
    print(*row)

3 ED CHASE ALONE TRIP
12 KARL BERRY ALONE TRIP
13 UMA WOOD ALONE TRIP
82 WOODY JOLIE ALONE TRIP
100 SPENCER DEPP ALONE TRIP
160 CHRIS DEPP ALONE TRIP
167 LAURENCE BULLOCK ALONE TRIP
187 RENEE BALL ALONE TRIP

In [143]:
# Using subquery
film_select_stmt = session.query(Film.film_id).filter(Film.title == 'Alone Trip').subquery()
film_actor_select_stmt = session.query(Film_Actor.actor_id).filter(Film_Actor.film_id == film_select_stmt.c.film_id).subquery()
result = session.query(Actor.actor_name).filter(Actor.actor_id == film_actor_select_stmt.c.actor_id)

In [144]:
for row in result:
    print(*row)

ED CHASE
KARL BERRY
UMA WOOD
WOODY JOLIE
SPENCER DEPP
CHRIS DEPP
LAURENCE BULLOCK
RENEE BALL

-- 7c. You want to run an email marketing campaign in Canada, for which you will need the names and email addresses of all Canadian customers. 
-- Use joins to retrieve this information.

In [145]:
columns = inspector.get_columns('customer')
for column in columns:
    print(column["name"], column["type"])

customer_id SMALLINT(5) UNSIGNED
store_id TINYINT(3) UNSIGNED
first_name VARCHAR(45)
last_name VARCHAR(45)
email VARCHAR(50)
address_id SMALLINT(5) UNSIGNED
active TINYINT(1)
create_date DATETIME
last_update TIMESTAMP

In [147]:
columns = inspector.get_columns('address')
for column in columns:
    print(column["name"])

address_id
address
address2
district
city_id
postal_code
phone
location
last_update

In [148]:
columns = inspector.get_columns('city')
for column in columns:
    print(column["name"], column["type"])

city_id SMALLINT(5) UNSIGNED
city VARCHAR(50)
country_id SMALLINT(5) UNSIGNED
last_update TIMESTAMP

In [149]:
columns = inspector.get_columns('country')
for column in columns:
    print(column["name"], column["type"])

country_id SMALLINT(5) UNSIGNED
country VARCHAR(50)
last_update TIMESTAMP

In [150]:
result = session.query(
    Customer.customer_id,
    Customer.first_name,
    Customer.last_name,
    Customer.email
) \
.join(Address, Customer.address_id == Address.address_id) \
.join(City, Address.city_id == City.city_id) \
.join(Country, City.country_id == Country.country_id)

In [151]:
for row in result:
    print(*row)

1 MARY SMITH MARY.SMITH@sakilacustomer.org
2 PATRICIA JOHNSON PATRICIA.JOHNSON@sakilacustomer.org
3 LINDA WILLIAMS LINDA.WILLIAMS@sakilacustomer.org
4 BARBARA JONES BARBARA.JONES@sakilacustomer.org
5 ELIZABETH BROWN ELIZABETH.BROWN@sakilacustomer.org
6 JENNIFER DAVIS JENNIFER.DAVIS@sakilacustomer.org
7 MARIA MILLER MARIA.MILLER@sakilacustomer.org
8 SUSAN WILSON SUSAN.WILSON@sakilacustomer.org
9 MARGARET MOORE MARGARET.MOORE@sakilacustomer.org
10 DOROTHY TAYLOR DOROTHY.TAYLOR@sakilacustomer.org
11 LISA ANDERSON LISA.ANDERSON@sakilacustomer.org
12 NANCY THOMAS NANCY.THOMAS@sakilacustomer.org
13 KAREN JACKSON KAREN.JACKSON@sakilacustomer.org
14 BETTY WHITE BETTY.WHITE@sakilacustomer.org
15 HELEN HARRIS HELEN.HARRIS@sakilacustomer.org
16 SANDRA MARTIN SANDRA.MARTIN@sakilacustomer.org
17 DONNA THOMPSON DONNA.THOMPSON@sakilacustomer.org
18 CAROL GARCIA CAROL.GARCIA@sakilacustomer.org
19 RUTH MARTINEZ RUTH.MARTINEZ@sakilacustomer.org
20 SHARON ROBINSON SHARON.ROBINSON@sakilacustomer.org
21 MICHELLE CLARK MICHELLE.CLARK@sakilacustomer.org
22 LAURA RODRIGUEZ LAURA.RODRIGUEZ@sakilacustomer.org
23 SARAH LEWIS SARAH.LEWIS@sakilacustomer.org
24 KIMBERLY LEE KIMBERLY.LEE@sakilacustomer.org
25 DEBORAH WALKER DEBORAH.WALKER@sakilacustomer.org
26 JESSICA HALL JESSICA.HALL@sakilacustomer.org
27 SHIRLEY ALLEN SHIRLEY.ALLEN@sakilacustomer.org
28 CYNTHIA YOUNG CYNTHIA.YOUNG@sakilacustomer.org
29 ANGELA HERNANDEZ ANGELA.HERNANDEZ@sakilacustomer.org
30 MELISSA KING MELISSA.KING@sakilacustomer.org
31 BRENDA WRIGHT BRENDA.WRIGHT@sakilacustomer.org
32 AMY LOPEZ AMY.LOPEZ@sakilacustomer.org
33 ANNA HILL ANNA.HILL@sakilacustomer.org
34 REBECCA SCOTT REBECCA.SCOTT@sakilacustomer.org
35 VIRGINIA GREEN VIRGINIA.GREEN@sakilacustomer.org
36 KATHLEEN ADAMS KATHLEEN.ADAMS@sakilacustomer.org
37 PAMELA BAKER PAMELA.BAKER@sakilacustomer.org
38 MARTHA GONZALEZ MARTHA.GONZALEZ@sakilacustomer.org
39 DEBRA NELSON DEBRA.NELSON@sakilacustomer.org
40 AMANDA CARTER AMANDA.CARTER@sakilacustomer.org
41 STEPHANIE MITCHELL STEPHANIE.MITCHELL@sakilacustomer.org
42 CAROLYN PEREZ CAROLYN.PEREZ@sakilacustomer.org
43 CHRISTINE ROBERTS CHRISTINE.ROBERTS@sakilacustomer.org
44 MARIE TURNER MARIE.TURNER@sakilacustomer.org
45 JANET PHILLIPS JANET.PHILLIPS@sakilacustomer.org
46 CATHERINE CAMPBELL CATHERINE.CAMPBELL@sakilacustomer.org
47 FRANCES PARKER FRANCES.PARKER@sakilacustomer.org
48 ANN EVANS ANN.EVANS@sakilacustomer.org
49 JOYCE EDWARDS JOYCE.EDWARDS@sakilacustomer.org
50 DIANE COLLINS DIANE.COLLINS@sakilacustomer.org
51 ALICE STEWART ALICE.STEWART@sakilacustomer.org
52 JULIE SANCHEZ JULIE.SANCHEZ@sakilacustomer.org
53 HEATHER MORRIS HEATHER.MORRIS@sakilacustomer.org
54 TERESA ROGERS TERESA.ROGERS@sakilacustomer.org
55 DORIS REED DORIS.REED@sakilacustomer.org
56 GLORIA COOK GLORIA.COOK@sakilacustomer.org
57 EVELYN MORGAN EVELYN.MORGAN@sakilacustomer.org
58 JEAN BELL JEAN.BELL@sakilacustomer.org
59 CHERYL MURPHY CHERYL.MURPHY@sakilacustomer.org
60 MILDRED BAILEY MILDRED.BAILEY@sakilacustomer.org
61 KATHERINE RIVERA KATHERINE.RIVERA@sakilacustomer.org
62 JOAN COOPER JOAN.COOPER@sakilacustomer.org
63 ASHLEY RICHARDSON ASHLEY.RICHARDSON@sakilacustomer.org
64 JUDITH COX JUDITH.COX@sakilacustomer.org
65 ROSE HOWARD ROSE.HOWARD@sakilacustomer.org
66 JANICE WARD JANICE.WARD@sakilacustomer.org
67 KELLY TORRES KELLY.TORRES@sakilacustomer.org
68 NICOLE PETERSON NICOLE.PETERSON@sakilacustomer.org
69 JUDY GRAY JUDY.GRAY@sakilacustomer.org
70 CHRISTINA RAMIREZ CHRISTINA.RAMIREZ@sakilacustomer.org
71 KATHY JAMES KATHY.JAMES@sakilacustomer.org
72 THERESA WATSON THERESA.WATSON@sakilacustomer.org
73 BEVERLY BROOKS BEVERLY.BROOKS@sakilacustomer.org
74 DENISE KELLY DENISE.KELLY@sakilacustomer.org
75 TAMMY SANDERS TAMMY.SANDERS@sakilacustomer.org
76 IRENE PRICE IRENE.PRICE@sakilacustomer.org
77 JANE BENNETT JANE.BENNETT@sakilacustomer.org
78 LORI WOOD LORI.WOOD@sakilacustomer.org
79 RACHEL BARNES RACHEL.BARNES@sakilacustomer.org
80 MARILYN ROSS MARILYN.ROSS@sakilacustomer.org
81 ANDREA HENDERSON ANDREA.HENDERSON@sakilacustomer.org
82 KATHRYN COLEMAN KATHRYN.COLEMAN@sakilacustomer.org
83 LOUISE JENKINS LOUISE.JENKINS@sakilacustomer.org
84 SARA PERRY SARA.PERRY@sakilacustomer.org
85 ANNE POWELL ANNE.POWELL@sakilacustomer.org
86 JACQUELINE LONG JACQUELINE.LONG@sakilacustomer.org
87 WANDA PATTERSON WANDA.PATTERSON@sakilacustomer.org
88 BONNIE HUGHES BONNIE.HUGHES@sakilacustomer.org
89 JULIA FLORES JULIA.FLORES@sakilacustomer.org
90 RUBY WASHINGTON RUBY.WASHINGTON@sakilacustomer.org
91 LOIS BUTLER LOIS.BUTLER@sakilacustomer.org
92 TINA SIMMONS TINA.SIMMONS@sakilacustomer.org
93 PHYLLIS FOSTER PHYLLIS.FOSTER@sakilacustomer.org
94 NORMA GONZALES NORMA.GONZALES@sakilacustomer.org
95 PAULA BRYANT PAULA.BRYANT@sakilacustomer.org
96 DIANA ALEXANDER DIANA.ALEXANDER@sakilacustomer.org
97 ANNIE RUSSELL ANNIE.RUSSELL@sakilacustomer.org
98 LILLIAN GRIFFIN LILLIAN.GRIFFIN@sakilacustomer.org
99 EMILY DIAZ EMILY.DIAZ@sakilacustomer.org
100 ROBIN HAYES ROBIN.HAYES@sakilacustomer.org
101 PEGGY MYERS PEGGY.MYERS@sakilacustomer.org
102 CRYSTAL FORD CRYSTAL.FORD@sakilacustomer.org
103 GLADYS HAMILTON GLADYS.HAMILTON@sakilacustomer.org
104 RITA GRAHAM RITA.GRAHAM@sakilacustomer.org
105 DAWN SULLIVAN DAWN.SULLIVAN@sakilacustomer.org
106 CONNIE WALLACE CONNIE.WALLACE@sakilacustomer.org
107 FLORENCE WOODS FLORENCE.WOODS@sakilacustomer.org
108 TRACY COLE TRACY.COLE@sakilacustomer.org
109 EDNA WEST EDNA.WEST@sakilacustomer.org
110 TIFFANY JORDAN TIFFANY.JORDAN@sakilacustomer.org
111 CARMEN OWENS CARMEN.OWENS@sakilacustomer.org
112 ROSA REYNOLDS ROSA.REYNOLDS@sakilacustomer.org
113 CINDY FISHER CINDY.FISHER@sakilacustomer.org
114 GRACE ELLIS GRACE.ELLIS@sakilacustomer.org
115 WENDY HARRISON WENDY.HARRISON@sakilacustomer.org
116 VICTORIA GIBSON VICTORIA.GIBSON@sakilacustomer.org
117 EDITH MCDONALD EDITH.MCDONALD@sakilacustomer.org
118 KIM CRUZ KIM.CRUZ@sakilacustomer.org
119 SHERRY MARSHALL SHERRY.MARSHALL@sakilacustomer.org
120 SYLVIA ORTIZ SYLVIA.ORTIZ@sakilacustomer.org
121 JOSEPHINE GOMEZ JOSEPHINE.GOMEZ@sakilacustomer.org
122 THELMA MURRAY THELMA.MURRAY@sakilacustomer.org
123 SHANNON FREEMAN SHANNON.FREEMAN@sakilacustomer.org
124 SHEILA WELLS SHEILA.WELLS@sakilacustomer.org
125 ETHEL WEBB ETHEL.WEBB@sakilacustomer.org
126 ELLEN SIMPSON ELLEN.SIMPSON@sakilacustomer.org
127 ELAINE STEVENS ELAINE.STEVENS@sakilacustomer.org
128 MARJORIE TUCKER MARJORIE.TUCKER@sakilacustomer.org
129 CARRIE PORTER CARRIE.PORTER@sakilacustomer.org
130 CHARLOTTE HUNTER CHARLOTTE.HUNTER@sakilacustomer.org
131 MONICA HICKS MONICA.HICKS@sakilacustomer.org
132 ESTHER CRAWFORD ESTHER.CRAWFORD@sakilacustomer.org
133 PAULINE HENRY PAULINE.HENRY@sakilacustomer.org
134 EMMA BOYD EMMA.BOYD@sakilacustomer.org
135 JUANITA MASON JUANITA.MASON@sakilacustomer.org
136 ANITA MORALES ANITA.MORALES@sakilacustomer.org
137 RHONDA KENNEDY RHONDA.KENNEDY@sakilacustomer.org
138 HAZEL WARREN HAZEL.WARREN@sakilacustomer.org
139 AMBER DIXON AMBER.DIXON@sakilacustomer.org
140 EVA RAMOS EVA.RAMOS@sakilacustomer.org
141 DEBBIE REYES DEBBIE.REYES@sakilacustomer.org
142 APRIL BURNS APRIL.BURNS@sakilacustomer.org
143 LESLIE GORDON LESLIE.GORDON@sakilacustomer.org
144 CLARA SHAW CLARA.SHAW@sakilacustomer.org
145 LUCILLE HOLMES LUCILLE.HOLMES@sakilacustomer.org
146 JAMIE RICE JAMIE.RICE@sakilacustomer.org
147 JOANNE ROBERTSON JOANNE.ROBERTSON@sakilacustomer.org
148 ELEANOR HUNT ELEANOR.HUNT@sakilacustomer.org
149 VALERIE BLACK VALERIE.BLACK@sakilacustomer.org
150 DANIELLE DANIELS DANIELLE.DANIELS@sakilacustomer.org
151 MEGAN PALMER MEGAN.PALMER@sakilacustomer.org
152 ALICIA MILLS ALICIA.MILLS@sakilacustomer.org
153 SUZANNE NICHOLS SUZANNE.NICHOLS@sakilacustomer.org
154 MICHELE GRANT MICHELE.GRANT@sakilacustomer.org
155 GAIL KNIGHT GAIL.KNIGHT@sakilacustomer.org
156 BERTHA FERGUSON BERTHA.FERGUSON@sakilacustomer.org
157 DARLENE ROSE DARLENE.ROSE@sakilacustomer.org
158 VERONICA STONE VERONICA.STONE@sakilacustomer.org
159 JILL HAWKINS JILL.HAWKINS@sakilacustomer.org
160 ERIN DUNN ERIN.DUNN@sakilacustomer.org
161 GERALDINE PERKINS GERALDINE.PERKINS@sakilacustomer.org
162 LAUREN HUDSON LAUREN.HUDSON@sakilacustomer.org
163 CATHY SPENCER CATHY.SPENCER@sakilacustomer.org
164 JOANN GARDNER JOANN.GARDNER@sakilacustomer.org
165 LORRAINE STEPHENS LORRAINE.STEPHENS@sakilacustomer.org
166 LYNN PAYNE LYNN.PAYNE@sakilacustomer.org
167 SALLY PIERCE SALLY.PIERCE@sakilacustomer.org
168 REGINA BERRY REGINA.BERRY@sakilacustomer.org
169 ERICA MATTHEWS ERICA.MATTHEWS@sakilacustomer.org
170 BEATRICE ARNOLD BEATRICE.ARNOLD@sakilacustomer.org
171 DOLORES WAGNER DOLORES.WAGNER@sakilacustomer.org
172 BERNICE WILLIS BERNICE.WILLIS@sakilacustomer.org
173 AUDREY RAY AUDREY.RAY@sakilacustomer.org
174 YVONNE WATKINS YVONNE.WATKINS@sakilacustomer.org
175 ANNETTE OLSON ANNETTE.OLSON@sakilacustomer.org
176 JUNE CARROLL JUNE.CARROLL@sakilacustomer.org
177 SAMANTHA DUNCAN SAMANTHA.DUNCAN@sakilacustomer.org
178 MARION SNYDER MARION.SNYDER@sakilacustomer.org
179 DANA HART DANA.HART@sakilacustomer.org
180 STACY CUNNINGHAM STACY.CUNNINGHAM@sakilacustomer.org
181 ANA BRADLEY ANA.BRADLEY@sakilacustomer.org
182 RENEE LANE RENEE.LANE@sakilacustomer.org
183 IDA ANDREWS IDA.ANDREWS@sakilacustomer.org
184 VIVIAN RUIZ VIVIAN.RUIZ@sakilacustomer.org
185 ROBERTA HARPER ROBERTA.HARPER@sakilacustomer.org
186 HOLLY FOX HOLLY.FOX@sakilacustomer.org
187 BRITTANY RILEY BRITTANY.RILEY@sakilacustomer.org
188 MELANIE ARMSTRONG MELANIE.ARMSTRONG@sakilacustomer.org
189 LORETTA CARPENTER LORETTA.CARPENTER@sakilacustomer.org
190 YOLANDA WEAVER YOLANDA.WEAVER@sakilacustomer.org
191 JEANETTE GREENE JEANETTE.GREENE@sakilacustomer.org
192 LAURIE LAWRENCE LAURIE.LAWRENCE@sakilacustomer.org
193 KATIE ELLIOTT KATIE.ELLIOTT@sakilacustomer.org
194 KRISTEN CHAVEZ KRISTEN.CHAVEZ@sakilacustomer.org
195 VANESSA SIMS VANESSA.SIMS@sakilacustomer.org
196 ALMA AUSTIN ALMA.AUSTIN@sakilacustomer.org
197 SUE PETERS SUE.PETERS@sakilacustomer.org
198 ELSIE KELLEY ELSIE.KELLEY@sakilacustomer.org
199 BETH FRANKLIN BETH.FRANKLIN@sakilacustomer.org
200 JEANNE LAWSON JEANNE.LAWSON@sakilacustomer.org
201 VICKI FIELDS VICKI.FIELDS@sakilacustomer.org
202 CARLA GUTIERREZ CARLA.GUTIERREZ@sakilacustomer.org
203 TARA RYAN TARA.RYAN@sakilacustomer.org
204 ROSEMARY SCHMIDT ROSEMARY.SCHMIDT@sakilacustomer.org
205 EILEEN CARR EILEEN.CARR@sakilacustomer.org
206 TERRI VASQUEZ TERRI.VASQUEZ@sakilacustomer.org
207 GERTRUDE CASTILLO GERTRUDE.CASTILLO@sakilacustomer.org
208 LUCY WHEELER LUCY.WHEELER@sakilacustomer.org
209 TONYA CHAPMAN TONYA.CHAPMAN@sakilacustomer.org
210 ELLA OLIVER ELLA.OLIVER@sakilacustomer.org
211 STACEY MONTGOMERY STACEY.MONTGOMERY@sakilacustomer.org
212 WILMA RICHARDS WILMA.RICHARDS@sakilacustomer.org
213 GINA WILLIAMSON GINA.WILLIAMSON@sakilacustomer.org
214 KRISTIN JOHNSTON KRISTIN.JOHNSTON@sakilacustomer.org
215 JESSIE BANKS JESSIE.BANKS@sakilacustomer.org
216 NATALIE MEYER NATALIE.MEYER@sakilacustomer.org
217 AGNES BISHOP AGNES.BISHOP@sakilacustomer.org
218 VERA MCCOY VERA.MCCOY@sakilacustomer.org
219 WILLIE HOWELL WILLIE.HOWELL@sakilacustomer.org
220 CHARLENE ALVAREZ CHARLENE.ALVAREZ@sakilacustomer.org
221 BESSIE MORRISON BESSIE.MORRISON@sakilacustomer.org
222 DELORES HANSEN DELORES.HANSEN@sakilacustomer.org
223 MELINDA FERNANDEZ MELINDA.FERNANDEZ@sakilacustomer.org
224 PEARL GARZA PEARL.GARZA@sakilacustomer.org
225 ARLENE HARVEY ARLENE.HARVEY@sakilacustomer.org
226 MAUREEN LITTLE MAUREEN.LITTLE@sakilacustomer.org
227 COLLEEN BURTON COLLEEN.BURTON@sakilacustomer.org
228 ALLISON STANLEY ALLISON.STANLEY@sakilacustomer.org
229 TAMARA NGUYEN TAMARA.NGUYEN@sakilacustomer.org
230 JOY GEORGE JOY.GEORGE@sakilacustomer.org
231 GEORGIA JACOBS GEORGIA.JACOBS@sakilacustomer.org
232 CONSTANCE REID CONSTANCE.REID@sakilacustomer.org
233 LILLIE KIM LILLIE.KIM@sakilacustomer.org
234 CLAUDIA FULLER CLAUDIA.FULLER@sakilacustomer.org
235 JACKIE LYNCH JACKIE.LYNCH@sakilacustomer.org
236 MARCIA DEAN MARCIA.DEAN@sakilacustomer.org
237 TANYA GILBERT TANYA.GILBERT@sakilacustomer.org
238 NELLIE GARRETT NELLIE.GARRETT@sakilacustomer.org
239 MINNIE ROMERO MINNIE.ROMERO@sakilacustomer.org
240 MARLENE WELCH MARLENE.WELCH@sakilacustomer.org
241 HEIDI LARSON HEIDI.LARSON@sakilacustomer.org
242 GLENDA FRAZIER GLENDA.FRAZIER@sakilacustomer.org
243 LYDIA BURKE LYDIA.BURKE@sakilacustomer.org
244 VIOLA HANSON VIOLA.HANSON@sakilacustomer.org
245 COURTNEY DAY COURTNEY.DAY@sakilacustomer.org
246 MARIAN MENDOZA MARIAN.MENDOZA@sakilacustomer.org
247 STELLA MORENO STELLA.MORENO@sakilacustomer.org
248 CAROLINE BOWMAN CAROLINE.BOWMAN@sakilacustomer.org
249 DORA MEDINA DORA.MEDINA@sakilacustomer.org
250 JO FOWLER JO.FOWLER@sakilacustomer.org
251 VICKIE BREWER VICKIE.BREWER@sakilacustomer.org
252 MATTIE HOFFMAN MATTIE.HOFFMAN@sakilacustomer.org
253 TERRY CARLSON TERRY.CARLSON@sakilacustomer.org
254 MAXINE SILVA MAXINE.SILVA@sakilacustomer.org
255 IRMA PEARSON IRMA.PEARSON@sakilacustomer.org
256 MABEL HOLLAND MABEL.HOLLAND@sakilacustomer.org
257 MARSHA DOUGLAS MARSHA.DOUGLAS@sakilacustomer.org
258 MYRTLE FLEMING MYRTLE.FLEMING@sakilacustomer.org
259 LENA JENSEN LENA.JENSEN@sakilacustomer.org
260 CHRISTY VARGAS CHRISTY.VARGAS@sakilacustomer.org
261 DEANNA BYRD DEANNA.BYRD@sakilacustomer.org
262 PATSY DAVIDSON PATSY.DAVIDSON@sakilacustomer.org
263 HILDA HOPKINS HILDA.HOPKINS@sakilacustomer.org
264 GWENDOLYN MAY GWENDOLYN.MAY@sakilacustomer.org
265 JENNIE TERRY JENNIE.TERRY@sakilacustomer.org
266 NORA HERRERA NORA.HERRERA@sakilacustomer.org
267 MARGIE WADE MARGIE.WADE@sakilacustomer.org
268 NINA SOTO NINA.SOTO@sakilacustomer.org
269 CASSANDRA WALTERS CASSANDRA.WALTERS@sakilacustomer.org
270 LEAH CURTIS LEAH.CURTIS@sakilacustomer.org
271 PENNY NEAL PENNY.NEAL@sakilacustomer.org
272 KAY CALDWELL KAY.CALDWELL@sakilacustomer.org
273 PRISCILLA LOWE PRISCILLA.LOWE@sakilacustomer.org
274 NAOMI JENNINGS NAOMI.JENNINGS@sakilacustomer.org
275 CAROLE BARNETT CAROLE.BARNETT@sakilacustomer.org
276 BRANDY GRAVES BRANDY.GRAVES@sakilacustomer.org
277 OLGA JIMENEZ OLGA.JIMENEZ@sakilacustomer.org
278 BILLIE HORTON BILLIE.HORTON@sakilacustomer.org
279 DIANNE SHELTON DIANNE.SHELTON@sakilacustomer.org
280 TRACEY BARRETT TRACEY.BARRETT@sakilacustomer.org
281 LEONA OBRIEN LEONA.OBRIEN@sakilacustomer.org
282 JENNY CASTRO JENNY.CASTRO@sakilacustomer.org
283 FELICIA SUTTON FELICIA.SUTTON@sakilacustomer.org
284 SONIA GREGORY SONIA.GREGORY@sakilacustomer.org
285 MIRIAM MCKINNEY MIRIAM.MCKINNEY@sakilacustomer.org
286 VELMA LUCAS VELMA.LUCAS@sakilacustomer.org
287 BECKY MILES BECKY.MILES@sakilacustomer.org
288 BOBBIE CRAIG BOBBIE.CRAIG@sakilacustomer.org
289 VIOLET RODRIQUEZ VIOLET.RODRIQUEZ@sakilacustomer.org
290 KRISTINA CHAMBERS KRISTINA.CHAMBERS@sakilacustomer.org
291 TONI HOLT TONI.HOLT@sakilacustomer.org
292 MISTY LAMBERT MISTY.LAMBERT@sakilacustomer.org
293 MAE FLETCHER MAE.FLETCHER@sakilacustomer.org
294 SHELLY WATTS SHELLY.WATTS@sakilacustomer.org
295 DAISY BATES DAISY.BATES@sakilacustomer.org
296 RAMONA HALE RAMONA.HALE@sakilacustomer.org
297 SHERRI RHODES SHERRI.RHODES@sakilacustomer.org
298 ERIKA PENA ERIKA.PENA@sakilacustomer.org
299 JAMES GANNON JAMES.GANNON@sakilacustomer.org
300 JOHN FARNSWORTH JOHN.FARNSWORTH@sakilacustomer.org
301 ROBERT BAUGHMAN ROBERT.BAUGHMAN@sakilacustomer.org
302 MICHAEL SILVERMAN MICHAEL.SILVERMAN@sakilacustomer.org
303 WILLIAM SATTERFIELD WILLIAM.SATTERFIELD@sakilacustomer.org
304 DAVID ROYAL DAVID.ROYAL@sakilacustomer.org
305 RICHARD MCCRARY RICHARD.MCCRARY@sakilacustomer.org
306 CHARLES KOWALSKI CHARLES.KOWALSKI@sakilacustomer.org
307 JOSEPH JOY JOSEPH.JOY@sakilacustomer.org
308 THOMAS GRIGSBY THOMAS.GRIGSBY@sakilacustomer.org
309 CHRISTOPHER GRECO CHRISTOPHER.GRECO@sakilacustomer.org
310 DANIEL CABRAL DANIEL.CABRAL@sakilacustomer.org
311 PAUL TROUT PAUL.TROUT@sakilacustomer.org
312 MARK RINEHART MARK.RINEHART@sakilacustomer.org
313 DONALD MAHON DONALD.MAHON@sakilacustomer.org
314 GEORGE LINTON GEORGE.LINTON@sakilacustomer.org
315 KENNETH GOODEN KENNETH.GOODEN@sakilacustomer.org
316 STEVEN CURLEY STEVEN.CURLEY@sakilacustomer.org
317 EDWARD BAUGH EDWARD.BAUGH@sakilacustomer.org
318 BRIAN WYMAN BRIAN.WYMAN@sakilacustomer.org
319 RONALD WEINER RONALD.WEINER@sakilacustomer.org
320 ANTHONY SCHWAB ANTHONY.SCHWAB@sakilacustomer.org
321 KEVIN SCHULER KEVIN.SCHULER@sakilacustomer.org
322 JASON MORRISSEY JASON.MORRISSEY@sakilacustomer.org
323 MATTHEW MAHAN MATTHEW.MAHAN@sakilacustomer.org
324 GARY COY GARY.COY@sakilacustomer.org
325 TIMOTHY BUNN TIMOTHY.BUNN@sakilacustomer.org
326 JOSE ANDREW JOSE.ANDREW@sakilacustomer.org
327 LARRY THRASHER LARRY.THRASHER@sakilacustomer.org
328 JEFFREY SPEAR JEFFREY.SPEAR@sakilacustomer.org
329 FRANK WAGGONER FRANK.WAGGONER@sakilacustomer.org
330 SCOTT SHELLEY SCOTT.SHELLEY@sakilacustomer.org
331 ERIC ROBERT ERIC.ROBERT@sakilacustomer.org
332 STEPHEN QUALLS STEPHEN.QUALLS@sakilacustomer.org
333 ANDREW PURDY ANDREW.PURDY@sakilacustomer.org
334 RAYMOND MCWHORTER RAYMOND.MCWHORTER@sakilacustomer.org
335 GREGORY MAULDIN GREGORY.MAULDIN@sakilacustomer.org
336 JOSHUA MARK JOSHUA.MARK@sakilacustomer.org
337 JERRY JORDON JERRY.JORDON@sakilacustomer.org
338 DENNIS GILMAN DENNIS.GILMAN@sakilacustomer.org
339 WALTER PERRYMAN WALTER.PERRYMAN@sakilacustomer.org
340 PATRICK NEWSOM PATRICK.NEWSOM@sakilacustomer.org
341 PETER MENARD PETER.MENARD@sakilacustomer.org
342 HAROLD MARTINO HAROLD.MARTINO@sakilacustomer.org
343 DOUGLAS GRAF DOUGLAS.GRAF@sakilacustomer.org
344 HENRY BILLINGSLEY HENRY.BILLINGSLEY@sakilacustomer.org
345 CARL ARTIS CARL.ARTIS@sakilacustomer.org
346 ARTHUR SIMPKINS ARTHUR.SIMPKINS@sakilacustomer.org
347 RYAN SALISBURY RYAN.SALISBURY@sakilacustomer.org
348 ROGER QUINTANILLA ROGER.QUINTANILLA@sakilacustomer.org
349 JOE GILLILAND JOE.GILLILAND@sakilacustomer.org
350 JUAN FRALEY JUAN.FRALEY@sakilacustomer.org
351 JACK FOUST JACK.FOUST@sakilacustomer.org
352 ALBERT CROUSE ALBERT.CROUSE@sakilacustomer.org
353 JONATHAN SCARBOROUGH JONATHAN.SCARBOROUGH@sakilacustomer.org
354 JUSTIN NGO JUSTIN.NGO@sakilacustomer.org
355 TERRY GRISSOM TERRY.GRISSOM@sakilacustomer.org
356 GERALD FULTZ GERALD.FULTZ@sakilacustomer.org
357 KEITH RICO KEITH.RICO@sakilacustomer.org
358 SAMUEL MARLOW SAMUEL.MARLOW@sakilacustomer.org
359 WILLIE MARKHAM WILLIE.MARKHAM@sakilacustomer.org
360 RALPH MADRIGAL RALPH.MADRIGAL@sakilacustomer.org
361 LAWRENCE LAWTON LAWRENCE.LAWTON@sakilacustomer.org
362 NICHOLAS BARFIELD NICHOLAS.BARFIELD@sakilacustomer.org
363 ROY WHITING ROY.WHITING@sakilacustomer.org
364 BENJAMIN VARNEY BENJAMIN.VARNEY@sakilacustomer.org
365 BRUCE SCHWARZ BRUCE.SCHWARZ@sakilacustomer.org
366 BRANDON HUEY BRANDON.HUEY@sakilacustomer.org
367 ADAM GOOCH ADAM.GOOCH@sakilacustomer.org
368 HARRY ARCE HARRY.ARCE@sakilacustomer.org
369 FRED WHEAT FRED.WHEAT@sakilacustomer.org
370 WAYNE TRUONG WAYNE.TRUONG@sakilacustomer.org
371 BILLY POULIN BILLY.POULIN@sakilacustomer.org
372 STEVE MACKENZIE STEVE.MACKENZIE@sakilacustomer.org
373 LOUIS LEONE LOUIS.LEONE@sakilacustomer.org
374 JEREMY HURTADO JEREMY.HURTADO@sakilacustomer.org
375 AARON SELBY AARON.SELBY@sakilacustomer.org
376 RANDY GAITHER RANDY.GAITHER@sakilacustomer.org
377 HOWARD FORTNER HOWARD.FORTNER@sakilacustomer.org
378 EUGENE CULPEPPER EUGENE.CULPEPPER@sakilacustomer.org
379 CARLOS COUGHLIN CARLOS.COUGHLIN@sakilacustomer.org
380 RUSSELL BRINSON RUSSELL.BRINSON@sakilacustomer.org
381 BOBBY BOUDREAU BOBBY.BOUDREAU@sakilacustomer.org
382 VICTOR BARKLEY VICTOR.BARKLEY@sakilacustomer.org
383 MARTIN BALES MARTIN.BALES@sakilacustomer.org
384 ERNEST STEPP ERNEST.STEPP@sakilacustomer.org
385 PHILLIP HOLM PHILLIP.HOLM@sakilacustomer.org
386 TODD TAN TODD.TAN@sakilacustomer.org
387 JESSE SCHILLING JESSE.SCHILLING@sakilacustomer.org
388 CRAIG MORRELL CRAIG.MORRELL@sakilacustomer.org
389 ALAN KAHN ALAN.KAHN@sakilacustomer.org
390 SHAWN HEATON SHAWN.HEATON@sakilacustomer.org
391 CLARENCE GAMEZ CLARENCE.GAMEZ@sakilacustomer.org
392 SEAN DOUGLASS SEAN.DOUGLASS@sakilacustomer.org
393 PHILIP CAUSEY PHILIP.CAUSEY@sakilacustomer.org
394 CHRIS BROTHERS CHRIS.BROTHERS@sakilacustomer.org
395 JOHNNY TURPIN JOHNNY.TURPIN@sakilacustomer.org

420 JACOB LANCE JACOB.LANCE@sakilacustomer.org
421 LEE HAWKS LEE.HAWKS@sakilacustomer.org
422 MELVIN ELLINGTON MELVIN.ELLINGTON@sakilacustomer.org
423 ALFRED CASILLAS ALFRED.CASILLAS@sakilacustomer.org
424 KYLE SPURLOCK KYLE.SPURLOCK@sakilacustomer.org
425 FRANCIS SIKES FRANCIS.SIKES@sakilacustomer.org
426 BRADLEY MOTLEY BRADLEY.MOTLEY@sakilacustomer.org
427 JESUS MCCARTNEY JESUS.MCCARTNEY@sakilacustomer.org
428 HERBERT KRUGER HERBERT.KRUGER@sakilacustomer.org
429 FREDERICK ISBELL FREDERICK.ISBELL@sakilacustomer.org
430 RAY HOULE RAY.HOULE@sakilacustomer.org
431 JOEL FRANCISCO JOEL.FRANCISCO@sakilacustomer.org
432 EDWIN BURK EDWIN.BURK@sakilacustomer.org
433 DON BONE DON.BONE@sakilacustomer.org
434 EDDIE TOMLIN EDDIE.TOMLIN@sakilacustomer.org
435 RICKY SHELBY RICKY.SHELBY@sakilacustomer.org
436 TROY QUIGLEY TROY.QUIGLEY@sakilacustomer.org
437 RANDALL NEUMANN RANDALL.NEUMANN@sakilacustomer.org
438 BARRY LOVELACE BARRY.LOVELACE@sakilacustomer.org
439 ALEXANDER FENNELL ALEXANDER.FENNELL@sakilacustomer.org
440 BERNARD COLBY BERNARD.COLBY@sakilacustomer.org
441 MARIO CHEATHAM MARIO.CHEATHAM@sakilacustomer.org
442 LEROY BUSTAMANTE LEROY.BUSTAMANTE@sakilacustomer.org
443 FRANCISCO SKIDMORE FRANCISCO.SKIDMORE@sakilacustomer.org
444 MARCUS HIDALGO MARCUS.HIDALGO@sakilacustomer.org
445 MICHEAL FORMAN MICHEAL.FORMAN@sakilacustomer.org
446 THEODORE CULP THEODORE.CULP@sakilacustomer.org
447 CLIFFORD BOWENS CLIFFORD.BOWENS@sakilacustomer.org
448 MIGUEL BETANCOURT MIGUEL.BETANCOURT@sakilacustomer.org
449 OSCAR AQUINO OSCAR.AQUINO@sakilacustomer.org
450 JAY ROBB JAY.ROBB@sakilacustomer.org
451 JIM REA JIM.REA@sakilacustomer.org
452 TOM MILNER TOM.MILNER@sakilacustomer.org
453 CALVIN MARTEL CALVIN.MARTEL@sakilacustomer.org
454 ALEX GRESHAM ALEX.GRESHAM@sakilacustomer.org
455 JON WILES JON.WILES@sakilacustomer.org
456 RONNIE RICKETTS RONNIE.RICKETTS@sakilacustomer.org
457 BILL GAVIN BILL.GAVIN@sakilacustomer.org
458 LLOYD DOWD LLOYD.DOWD@sakilacustomer.org
459 TOMMY COLLAZO TOMMY.COLLAZO@sakilacustomer.org
460 LEON BOSTIC LEON.BOSTIC@sakilacustomer.org
461 DEREK BLAKELY DEREK.BLAKELY@sakilacustomer.org
462 WARREN SHERROD WARREN.SHERROD@sakilacustomer.org
463 DARRELL POWER DARRELL.POWER@sakilacustomer.org
464 JEROME KENYON JEROME.KENYON@sakilacustomer.org
465 FLOYD GANDY FLOYD.GANDY@sakilacustomer.org
466 LEO EBERT LEO.EBERT@sakilacustomer.org
467 ALVIN DELOACH ALVIN.DELOACH@sakilacustomer.org
468 TIM CARY TIM.CARY@sakilacustomer.org
469 WESLEY BULL WESLEY.BULL@sakilacustomer.org
470 GORDON ALLARD GORDON.ALLARD@sakilacustomer.org
471 DEAN SAUER DEAN.SAUER@sakilacustomer.org
472 GREG ROBINS GREG.ROBINS@sakilacustomer.org
473 JORGE OLIVARES JORGE.OLIVARES@sakilacustomer.org
474 DUSTIN GILLETTE DUSTIN.GILLETTE@sakilacustomer.org
475 PEDRO CHESTNUT PEDRO.CHESTNUT@sakilacustomer.org
476 DERRICK BOURQUE DERRICK.BOURQUE@sakilacustomer.org
477 DAN PAINE DAN.PAINE@sakilacustomer.org
478 LEWIS LYMAN LEWIS.LYMAN@sakilacustomer.org
479 ZACHARY HITE ZACHARY.HITE@sakilacustomer.org
480 COREY HAUSER COREY.HAUSER@sakilacustomer.org
481 HERMAN DEVORE HERMAN.DEVORE@sakilacustomer.org
482 MAURICE CRAWLEY MAURICE.CRAWLEY@sakilacustomer.org
483 VERNON CHAPA VERNON.CHAPA@sakilacustomer.org
484 ROBERTO VU ROBERTO.VU@sakilacustomer.org
485 CLYDE TOBIAS CLYDE.TOBIAS@sakilacustomer.org
486 GLEN TALBERT GLEN.TALBERT@sakilacustomer.org
487 HECTOR POINDEXTER HECTOR.POINDEXTER@sakilacustomer.org
488 SHANE MILLARD SHANE.MILLARD@sakilacustomer.org
489 RICARDO MEADOR RICARDO.MEADOR@sakilacustomer.org
490 SAM MCDUFFIE SAM.MCDUFFIE@sakilacustomer.org
491 RICK MATTOX RICK.MATTOX@sakilacustomer.org
492 LESTER KRAUS LESTER.KRAUS@sakilacustomer.org
493 BRENT HARKINS BRENT.HARKINS@sakilacustomer.org
494 RAMON CHOATE RAMON.CHOATE@sakilacustomer.org
495 CHARLIE BESS CHARLIE.BESS@sakilacustomer.org
496 TYLER WREN TYLER.WREN@sakilacustomer.org
497 GILBERT SLEDGE GILBERT.SLEDGE@sakilacustomer.org
498 GENE SANBORN GENE.SANBORN@sakilacustomer.org
499 MARC OUTLAW MARC.OUTLAW@sakilacustomer.org
500 REGINALD KINDER REGINALD.KINDER@sakilacustomer.org
501 RUBEN GEARY RUBEN.GEARY@sakilacustomer.org
502 BRETT CORNWELL BRETT.CORNWELL@sakilacustomer.org
503 ANGEL BARCLAY ANGEL.BARCLAY@sakilacustomer.org
504 NATHANIEL ADAM NATHANIEL.ADAM@sakilacustomer.org
505 RAFAEL ABNEY RAFAEL.ABNEY@sakilacustomer.org
506 LESLIE SEWARD LESLIE.SEWARD@sakilacustomer.org
507 EDGAR RHOADS EDGAR.RHOADS@sakilacustomer.org
508 MILTON HOWLAND MILTON.HOWLAND@sakilacustomer.org
509 RAUL FORTIER RAUL.FORTIER@sakilacustomer.org
510 BEN EASTER BEN.EASTER@sakilacustomer.org
511 CHESTER BENNER CHESTER.BENNER@sakilacustomer.org
512 CECIL VINES CECIL.VINES@sakilacustomer.org
513 DUANE TUBBS DUANE.TUBBS@sakilacustomer.org
514 FRANKLIN TROUTMAN FRANKLIN.TROUTMAN@sakilacustomer.org
515 ANDRE RAPP ANDRE.RAPP@sakilacustomer.org
516 ELMER NOE ELMER.NOE@sakilacustomer.org
517 BRAD MCCURDY BRAD.MCCURDY@sakilacustomer.org
518 GABRIEL HARDER GABRIEL.HARDER@sakilacustomer.org
519 RON DELUCA RON.DELUCA@sakilacustomer.org
520 MITCHELL WESTMORELAND MITCHELL.WESTMORELAND@sakilacustomer.org
521 ROLAND SOUTH ROLAND.SOUTH@sakilacustomer.org
522 ARNOLD HAVENS ARNOLD.HAVENS@sakilacustomer.org
523 HARVEY GUAJARDO HARVEY.GUAJARDO@sakilacustomer.org
524 JARED ELY JARED.ELY@sakilacustomer.org
525 ADRIAN CLARY ADRIAN.CLARY@sakilacustomer.org
526 KARL SEAL KARL.SEAL@sakilacustomer.org
527 CORY MEEHAN CORY.MEEHAN@sakilacustomer.org
528 CLAUDE HERZOG CLAUDE.HERZOG@sakilacustomer.org
529 ERIK GUILLEN ERIK.GUILLEN@sakilacustomer.org
530 DARRYL ASHCRAFT DARRYL.ASHCRAFT@sakilacustomer.org
531 JAMIE WAUGH JAMIE.WAUGH@sakilacustomer.org
532 NEIL RENNER NEIL.RENNER@sakilacustomer.org
533 JESSIE MILAM JESSIE.MILAM@sakilacustomer.org
534 CHRISTIAN JUNG CHRISTIAN.JUNG@sakilacustomer.org
535 JAVIER ELROD JAVIER.ELROD@sakilacustomer.org
536 FERNANDO CHURCHILL FERNANDO.CHURCHILL@sakilacustomer.org
537 CLINTON BUFORD CLINTON.BUFORD@sakilacustomer.org
538 TED BREAUX TED.BREAUX@sakilacustomer.org
539 MATHEW BOLIN MATHEW.BOLIN@sakilacustomer.org
540 TYRONE ASHER TYRONE.ASHER@sakilacustomer.org
541 DARREN WINDHAM DARREN.WINDHAM@sakilacustomer.org
542 LONNIE TIRADO LONNIE.TIRADO@sakilacustomer.org
543 LANCE PEMBERTON LANCE.PEMBERTON@sakilacustomer.org
544 CODY NOLEN CODY.NOLEN@sakilacustomer.org
545 JULIO NOLAND JULIO.NOLAND@sakilacustomer.org
546 KELLY KNOTT KELLY.KNOTT@sakilacustomer.org
547 KURT EMMONS KURT.EMMONS@sakilacustomer.org
548 ALLAN CORNISH ALLAN.CORNISH@sakilacustomer.org
549 NELSON CHRISTENSON NELSON.CHRISTENSON@sakilacustomer.org
550 GUY BROWNLEE GUY.BROWNLEE@sakilacustomer.org
551 CLAYTON BARBEE CLAYTON.BARBEE@sakilacustomer.org
552 HUGH WALDROP HUGH.WALDROP@sakilacustomer.org
553 MAX PITT MAX.PITT@sakilacustomer.org
554 DWAYNE OLVERA DWAYNE.OLVERA@sakilacustomer.org
555 DWIGHT LOMBARDI DWIGHT.LOMBARDI@sakilacustomer.org
556 ARMANDO GRUBER ARMANDO.GRUBER@sakilacustomer.org
557 FELIX GAFFNEY FELIX.GAFFNEY@sakilacustomer.org
558 JIMMIE EGGLESTON JIMMIE.EGGLESTON@sakilacustomer.org
559 EVERETT BANDA EVERETT.BANDA@sakilacustomer.org
560 JORDAN ARCHULETA JORDAN.ARCHULETA@sakilacustomer.org
561 IAN STILL IAN.STILL@sakilacustomer.org
562 WALLACE SLONE WALLACE.SLONE@sakilacustomer.org
563 KEN PREWITT KEN.PREWITT@sakilacustomer.org
564 BOB PFEIFFER BOB.PFEIFFER@sakilacustomer.org
565 JAIME NETTLES JAIME.NETTLES@sakilacustomer.org
566 CASEY MENA CASEY.MENA@sakilacustomer.org
567 ALFREDO MCADAMS ALFREDO.MCADAMS@sakilacustomer.org
568 ALBERTO HENNING ALBERTO.HENNING@sakilacustomer.org
569 DAVE GARDINER DAVE.GARDINER@sakilacustomer.org
570 IVAN CROMWELL IVAN.CROMWELL@sakilacustomer.org
571 JOHNNIE CHISHOLM JOHNNIE.CHISHOLM@sakilacustomer.org
572 SIDNEY BURLESON SIDNEY.BURLESON@sakilacustomer.org
573 BYRON BOX BYRON.BOX@sakilacustomer.org
574 JULIAN VEST JULIAN.VEST@sakilacustomer.org
575 ISAAC OGLESBY ISAAC.OGLESBY@sakilacustomer.org
576 MORRIS MCCARTER MORRIS.MCCARTER@sakilacustomer.org
577 CLIFTON MALCOLM CLIFTON.MALCOLM@sakilacustomer.org
578 WILLARD LUMPKIN WILLARD.LUMPKIN@sakilacustomer.org
579 DARYL LARUE DARYL.LARUE@sakilacustomer.org
580 ROSS GREY ROSS.GREY@sakilacustomer.org
581 VIRGIL WOFFORD VIRGIL.WOFFORD@sakilacustomer.org
582 ANDY VANHORN ANDY.VANHORN@sakilacustomer.org
583 MARSHALL THORN MARSHALL.THORN@sakilacustomer.org
584 SALVADOR TEEL SALVADOR.TEEL@sakilacustomer.org
585 PERRY SWAFFORD PERRY.SWAFFORD@sakilacustomer.org
586 KIRK STCLAIR KIRK.STCLAIR@sakilacustomer.org
587 SERGIO STANFIELD SERGIO.STANFIELD@sakilacustomer.org
588 MARION OCAMPO MARION.OCAMPO@sakilacustomer.org
589 TRACY HERRMANN TRACY.HERRMANN@sakilacustomer.org
590 SETH HANNON SETH.HANNON@sakilacustomer.org
591 KENT ARSENAULT KENT.ARSENAULT@sakilacustomer.org
592 TERRANCE ROUSH TERRANCE.ROUSH@sakilacustomer.org
593 RENE MCALISTER RENE.MCALISTER@sakilacustomer.org
594 EDUARDO HIATT EDUARDO.HIATT@sakilacustomer.org
595 TERRENCE GUNDERSON TERRENCE.GUNDERSON@sakilacustomer.org
596 ENRIQUE FORSYTHE ENRIQUE.FORSYTHE@sakilacustomer.org
597 FREDDIE DUGGAN FREDDIE.DUGGAN@sakilacustomer.org
598 WADE DELVALLE WADE.DELVALLE@sakilacustomer.org
599 AUSTIN CINTRON AUSTIN.CINTRON@sakilacustomer.org

-- 7d. Sales have been lagging among young families, and you wish to target all family movies for a promotion. 
-- Identify all movies categorized as family films.

In [153]:
Film_Category = Base.classes.film_category
Category = Base.classes.category

In [154]:
columns = inspector.get_columns('film')
for column in columns:
    print(column["name"], column["type"])

film_id SMALLINT(5) UNSIGNED
title VARCHAR(255)
description TEXT
release_year YEAR(4)
language_id TINYINT(3) UNSIGNED
original_language_id TINYINT(3) UNSIGNED
rental_duration TINYINT(3) UNSIGNED
rental_rate DECIMAL(4, 2)
length SMALLINT(5) UNSIGNED
replacement_cost DECIMAL(5, 2)
rating ENUM('G','PG','PG-13','R','NC-17')
special_features SET('Trailers','Commentaries','Deleted Scenes','Behind the Scenes')
last_update TIMESTAMP

In [156]:
columns = inspector.get_columns('film_category')
for column in columns:
    print(column["name"], column["type"])

film_id SMALLINT(5) UNSIGNED
category_id TINYINT(3) UNSIGNED
last_update TIMESTAMP

In [157]:
columns = inspector.get_columns('category')
for column in columns:
    print(column["name"], column["type"])

category_id TINYINT(3) UNSIGNED
name VARCHAR(25)
last_update TIMESTAMP

In [158]:
result = session.query(
    Film.film_id,
    Film.title
) \
.join(Film_Category, Film.film_id == Film_Category.film_id) \
.join(Category, Film_Category.category_id == Category.category_id) \
.filter(Category.name == 'Family')

In [159]:
for row in result:
    print(*row)

5 AFRICAN EGG
31 APACHE DIVINE
43 ATLANTIS CAUSE
50 BAKED CLEOPATRA
53 BANG KWAI
63 BEDAZZLED MARRIED
71 BILKO ANONYMOUS
80 BLANKET BEVERLY
82 BLOOD ARGONAUTS
83 BLUES INSTINCT
94 BRAVEHEART HUMAN
139 CHASING FIGHT
145 CHISUM BEHAVIOR
147 CHOCOLAT HARRY
175 CONFUSED CANDLES
183 CONVERSATION DOWNHILL
213 DATE SPEED
231 DINOSAUR SECRETARY
262 DUMBO LUST
269 EARRING INSTINCT
273 EFFECT GLADIATOR
309 FEUD FROGMEN
315 FINDING ANACONDA
345 GABLES METROPOLIS
348 GANDHI KWAI
359 GLADIATOR WESTWARD
377 GREASE YOUTH
391 HALF OUTFIELD
419 HOCUS FRIDA
428 HOMICIDE PEACH
437 HOUSE DYNAMITE
442 HUNTING MUSKETEERS
458 INDIAN LOVE
476 JASON TRAP
479 JEDI BENEATH
498 KILLER INNOCENT
499 KING EVOLUTION
528 LOLITA WORLD
534 LOUISIANA HARRY
550 MAGUIRE APACHE
557 MANCHURIAN CURTAIN
603 MOVIE SHAKESPEARE
610 MUSIC BOONDOCK
617 NATURAL STOCK
621 NETWORK PEAK
634 ODDS BOOGIE
639 OPPOSITE NECKLACE
679 PILOT HOOSIERS
682 PITTSBURGH HUNCHBACK
695 PRESIDENT BANG
700 PRIX UNDEFEATED
710 RAGE GAMES
715 RANGE MOONWALKER
724 REMEMBER DIARY
727 RESURRECTION SILVERADO
736 ROBBERY BRIGHT
753 RUSH GOODFELLAS
778 SECRETS PARADISE
780 SENSIBILITY REAR
795 SIEGE MADRE
810 SLUMS DUCK
822 SOUP WISDOM
824 SPARTACUS CHEAPER
829 SPINAL ROCKY
832 SPLASH GUMP
866 SUNSET RACER
867 SUPER WYOMING
946 VIRTUAL SPOILERS
975 WILLOW TRACY

-- 7e. Display the most frequently rented movies in descending order.

In [160]:
Rental = Base.classes.rental

In [161]:
columns = inspector.get_columns('rental')
for column in columns:
    print(column["name"], column["type"])

rental_id INTEGER(11)
rental_date DATETIME
inventory_id MEDIUMINT(8) UNSIGNED
customer_id SMALLINT(5) UNSIGNED
return_date DATETIME
staff_id TINYINT(3) UNSIGNED
last_update TIMESTAMP

In [162]:
columns = inspector.get_columns('inventory')
for column in columns:
    print(column["name"], column["type"])

inventory_id MEDIUMINT(8) UNSIGNED
film_id SMALLINT(5) UNSIGNED
store_id TINYINT(3) UNSIGNED
last_update TIMESTAMP

In [163]:
columns = inspector.get_columns('film')
for column in columns:
    print(column["name"], column["type"])

film_id SMALLINT(5) UNSIGNED
title VARCHAR(255)
description TEXT
release_year YEAR(4)
language_id TINYINT(3) UNSIGNED
original_language_id TINYINT(3) UNSIGNED
rental_duration TINYINT(3) UNSIGNED
rental_rate DECIMAL(4, 2)
length SMALLINT(5) UNSIGNED
replacement_cost DECIMAL(5, 2)
rating ENUM('G','PG','PG-13','R','NC-17')
special_features SET('Trailers','Commentaries','Deleted Scenes','Behind the Scenes')
last_update TIMESTAMP

In [190]:
result = session.query(
    Film.film_id,
    Film.title,
    func.count(Rental.rental_id).label('total_num_rentals')
) \
.join(Inventory, Rental.inventory_id == Inventory.inventory_id) \
.join(Film, Inventory.film_id == Film.film_id) \
.group_by(Film.film_id) \
.order_by(func.count(Film.film_id).desc())

In [191]:
for row in result:
    print(*row)

103 BUCKET BROTHERHOOD 34
738 ROCKETEER MOTHER 33
767 SCALAWAG DUCK 32
331 FORWARD TEMPLE 32
382 GRIT CLOCKWORK 32
489 JUGGLER HARDLY 32
730 RIDGEMONT SUBMARINE 32
31 APACHE DIVINE 31
891 TIMBERLAND SKY 31
1000 ZORRO ARK 31
735 ROBBERS JOON 31
753 RUSH GOODFELLAS 31
621 NETWORK PEAK 31
973 WIFE TURN 31
418 HOBBIT ALIEN 31
369 GOODFELLAS SALUTE 31
109 BUTTERFLY CHOCOLAT 30
403 HARRY IDAHO 30
559 MARRIED GO 30
239 DOGMA FAMILY 30
609 MUSCLE BRIGHT 30
127 CAT CONEHEADS 30
702 PULP BEVERLY 30
869 SUSPECTS QUILLS 30
979 WITCHES PANIC 30
341 FROST HEAD 30
374 GRAFFITI LOVE 30
563 MASSACRE USUAL 30
450 IDOLS SNATCHERS 30
748 RUGRATS SHAKESPEARE 30
789 SHOCK CABIN 30
285 ENGLISH BULWORTH 30
378 GREATEST NORTH 29
849 STORM HAPPINESS 29
875 TALENTED HOMICIDE 29
941 VIDEOTAPE ARSENIC 29
893 TITANS JERK 29
86 BOOGIE AMELIE 29
595 MOON BUNCH 29
945 VIRGINIAN PLUTO 29
174 CONFIDENTIAL INTERVIEW 29
73 BINGO TALENTED 29
284 ENEMY ODDS 29
220 DEER VIRGINIAN 29
301 FAMILY SWEET 29
361 GLEAMING JAWBREAKER 29
873 SWEETHEARTS SUSPECTS 29
395 HANDICAP BOONDOCK 28
295 EXPENDABLE STALLION 28
850 STORY SIDE 28
951 VOYAGE LEGALLY 28
745 ROSES TREASURE 28
305 FATAL HAUNTED 28
356 GIANT TROOPERS 28
911 TRIP NEWTON 28
358 GILMORE BOILED 28
764 SATURDAY LAMBS 28
159 CLOSER BANG 28
135 CHANCE RESURRECTION 27
625 NONE SPIKING 27
206 DANCING FEVER 27
330 FORRESTER COMANCHEROS 27
521 LIES TREATMENT 27
835 SPY MILE 27
78 BLACKOUT PRIVATE 27
200 CURTAIN VIDEOTAPE 27
349 GANGS PRIDE 27
531 LOSE INCH 27
603 MOVIE SHAKESPEARE 27
870 SWARM GOLD 27
879 TELEGRAPH VOYAGE 27
114 CAMELOT VACATION 27
367 GOLDMINE TYCOON 27
434 HORROR REIGN 27
715 RANGE MOONWALKER 27
228 DETECTIVE VISION 27
244 DORADO NOTTING 27
525 LOATHING LEGALLY 27
638 OPERATION OPERATION 27
697 PRIMARY GLASS 27
897 TORQUE BOUND 27
958 WARDROBE PHANTOM 27
468 INVASION CYCLONE 27
698 PRINCESS GIANT 27
445 HYDE DOCTOR 26
683 PITY BOUND 26
101 BROTHERHOOD BLANKET 26
263 DURHAM PANKY 26
303 FANTASY TROOPERS 26
397 HANKY OCTOBER 26
471 ISLAND EXORCIST 26
901 TRACY CIDER 26
970 WESTWARD SEABISCUIT 26
554 MALKOVICH PET 26
181 CONTACT ANONYMOUS 26
234 DISTURBING SCARFACE 26
391 HALF OUTFIELD 26
670 PELICAN COMFORTS 26
687 POCUS PULP 26
307 FELLOWSHIP AUTUMN 26
572 METROPOLIS COMA 26
838 STAGECOACH ARMAGEDDON 26
12 ALASKA PHANTOM 26
773 SEABISCUIT PUNK 26
938 VELVET TERMINATOR 26
167 COMA HEAD 26
460 INNOCENT USUAL 26
890 TIGHTS DAWN 26
319 FISH OPUS 25
387 GUN BONNIE 25
624 NIGHTMARE CHILL 25
791 SHOW LORD 25
247 DOWNHILL ENOUGH 25
760 SAMURAI LION 25
154 CLASH FREDDY 25
162 CLUELESS BUCKET 25
288 ESCAPE METROPOLIS 25
545 MADNESS ATTACKS 25
172 CONEHEADS SMOOCHY 25
273 EFFECT GLADIATOR 25
644 OSCAR GOLD 25
786 SHEPHERD MIDSUMMER 25
902 TRADING PINOCCHIO 25
55 BARBARELLA STREETCAR 25
266 DYNAMITE TARZAN 25
555 MALLRATS UNITED 25
571 METAL ARMAGEDDON 25
895 TOMORROW HUSTLER 25
417 HILLS NEIGHBORS 25
863 SUN CONFESSIONS 25
880 TELEMARK HEARTBREAKERS 25
989 WORKING MICROCOSMOS 25
245 DOUBLE WRATH 25
309 FEUD FROGMEN 25
856 STREETCAR INTENTIONS 25
43 ATLANTIS CAUSE 24
527 LOLA AGENT 24
551 MAIDEN HOME 24
649 OZ LIAISONS 24
775 SEATTLE EXPECATIONS 24
388 GUNFIGHT MOON 24
641 ORANGE GRAPES 24
650 PACIFIC AMISTAD 24
810 SLUMS DUCK 24
45 ATTRACTION NEWTON 24
119 CAPER MOTIONS 24
304 FARGO GANDHI 24
447 ICE CROSSING 24
35 ARACHNOPHOBIA ROLLERCOASTER 24
586 MOCKINGBIRD HOLLYWOOD 24
804 SLEEPING SUSPECTS 24
852 STRANGELOVE DESIRE 24
130 CELEBRITY HORN 24
366 GOLDFINGER SENSIBILITY 24
433 HORN WORKING 24
11 ALAMO VIDEOTAPE 24
131 CENTER DINOSAUR 24
166 COLOR PHILADELPHIA 24
443 HURRICANE AFFAIR 24
491 JUMPING WRATH 24
966 WEDDING APOLLO 24
91 BOUND CHEAPER 24
253 DRIFTER COMMANDMENTS 24
476 JASON TRAP 24
502 KNOCK WARLOCK 24
741 ROMAN PUNK 24
790 SHOOTIST SUPERFLY 24
865 SUNRISE LEAGUE 24
51 BALLOON HOMEWARD 23
117 CANDLES GRAPES 23
270 EARTH VISION 23
353 GENTLEMEN STAGE 23
412 HEAVYWEIGHTS BEAST 23
437 HOUSE DYNAMITE 23
608 MURDER ANTITRUST 23
665 PATTON INTERVIEW 23
759 SALUTE APOLLO 23
857 STRICTLY SCARFACE 23
976 WIND PHANTOM 23
271 EASY GLADIATOR 23
320 FLAMINGOS CONNECTICUT 23
494 KARATE MOON 23
504 KWAI HOMEWARD 23
676 PHILADELPHIA WIFE 23
892 TITANIC BOONDOCK 23
961 WASH HEAVENLY 23
843 STEEL SANTA 23
1 ACADEMY DINOSAUR 23
199 CUPBOARD SINNERS 23
995 YENTL IDAHO 23
10 ALADDIN CALENDAR 23
645 OTHERS SOUP 23
771 SCORPION APOLLO 23
122 CARRIE BUNCH 23
334 FREDDY STORM 23
646 OUTBREAK DIVINE 23
4 AFFAIR PREJUDICE 23
191 CROOKED FROGMEN 23
614 NAME DETECTIVE 23
914 TROUBLE DATE 23
982 WOMEN DORADO 23
327 FOOL MOCKINGBIRD 23
816 SNOWMAN ROLLERCOASTER 23
915 TRUMAN CRAZY 23
15 ALIEN CENTER 22
59 BEAR GRACELAND 22
142 CHICKEN HELLFIGHTERS 22
575 MIDSUMMER GROUNDHOG 22
949 VOLCANO TEXAS 22
143 CHILL LUCK 22
800 SINNERS ATLANTIS 22
985 WONDERLAND CHRISTMAS 22
25 ANGELS LIFE 22
61 BEAUTY GREASE 22
406 HAUNTING PIANIST 22
651 PACKER MADIGAN 22
18 ALTER VICTORY 22
26 ANNIE IDENTITY 22
54 BANGER PINOCCHIO 22
322 FLATLINERS KILLER 22
415 HIGH ENCINO 22
79 BLADE POLISH 22
314 FIGHT JAWBREAKER 22
408 HEAD STRANGER 22
972 WHISPERER GIANT 22
89 BORROWERS BEDAZZLED 22
267 EAGLES PANKY 22
500 KISS GLORY 22
556 MALTESE HOPE 22
772 SEA VIRGIN 22
814 SNATCH SLIPPER 22
21 AMERICAN CIRCUS 22
252 DREAM PICKUP 22
300 FALCON VOLUME 22
376 GRAPES FURY 22
706 QUEEN LUKE 22
823 SOUTH WAIT 22
176 CONGENIALITY QUEST 22
428 HOMICIDE PEACH 22
444 HUSTLER PARTY 22
518 LIAISONS SWEET 22
782 SHAKESPEARE SADDLE 22
898 TOURIST PELICAN 22
6 AGENT TRUMAN 21
23 ANACONDA CONFESSIONS 21
67 BERETS AGENT 21
83 BLUES INSTINCT 21
100 BROOKLYN DESERT 21
833 SPLENDOR PATTON 21
841 STAR OPERATION 21
255 DRIVING POLISH 21
354 GHOST GROUNDHOG 21
727 RESURRECTION SILVERADO 21
776 SECRET GROUNDHOG 21
69 BEVERLY OUTLAW 21
280 EMPIRE MALKOVICH 21
677 PIANIST OUTFIELD 21
112 CALENDAR GUNFIGHT 21
129 CAUSE DATE 21
249 DRACULA CRYSTAL 21
313 FIDELITY DEVIL 21
514 LEBOWSKI SOLDIERS 21
602 MOURNING PURPLE 21
861 SUIT WALLS 21
953 WAIT CIDER 21
19 AMADEUS HOLY 21
37 ARIZONA BANG 21
138 CHARIOTS CONSPIRACY 21
164 COAST RAINBOW 21
242 DOOM DANCING 21
274 EGG IGBY 21
416 HIGHBALL POTTER 21
755 SABRINA MIDNIGHT 21
920 UNBREAKABLE KARATE 21
39 ARMAGEDDON LOST 21
149 CHRISTMAS MOONSHINE 21
218 DECEIVER BETRAYED 21
235 DIVIDE MONSTER 21
596 MOONSHINE CABIN 21
637 OPEN AFRICAN 21
806 SLEEPY JAPANESE 21
846 STING PERSONAL 21
981 WOLVES DESIRE 21
49 BADMAN DAWN 21
57 BASIC EASY 21
132 CHAINSAW UPTOWN 21
292 EXCITEMENT EVE 21
681 PIRATES ROXANNE 21
807 SLEUTH ORIENT 21
922 UNDEFEATED DALMATIONS 21
930 VACATION BOONDOCK 21
22 AMISTAD MIDSUMMER 21
193 CROSSROADS CASUALTIES 21
317 FIREBALL PHILADELPHIA 21
377 GREASE YOUTH 21
204 DALMATIONS SWEDEN 20
535 LOVE SUICIDES 20
743 ROOM ROMAN 20
231 DINOSAUR SECRETARY 20
363 GO PURPLE 20
462 INSIDER ARIZONA 20
486 JET NEIGHBORS 20
993 WRONG BEHAVIOR 20
414 HELLFIGHTERS SIERRA 20
439 HUNCHBACK IMPOSSIBLE 20
496 KICK SAVANNAH 20
720 REDEMPTION COMFORTS 20
728 REUNION WITCHES 20
827 SPICE SORORITY 20
851 STRAIGHT HOURS 20
562 MASKED BUBBLE 20
578 MILLION ACE 20
668 PEAK FOREVER 20
694 PREJUDICE OLEANDER 20
778 SECRETS PARADISE 20
147 CHOCOLAT HARRY 20
465 INTERVIEW LIAISONS 20
579 MINDS TRUMAN 20
628 NORTHWEST POLISH 20
805 SLEEPLESS MONSOON 20
845 STEPMOM DREAM 20
139 CHASING FIGHT 20
350 GARDEN ISLAND 20
409 HEARTBREAKERS BRIGHT 20
680 PINOCCHIO SIMON 20
723 REIGN GENTLEMEN 20
140 CHEAPER CLYDE 20
326 FLYING HOOK 20
467 INTRIGUE WORST 20
501 KISSING DOLLS 20
647 OUTFIELD MASSACRE 20
99 BRINGING HYSTERICAL 20
402 HARPER DYING 20
484 JERK PAYCHECK 20
590 MONEY HAROLD 20
707 QUEST MUSSOLINI 20
733 RIVER OUTLAW 20
906 TRAMP OTHERS 20
160 CLUB GRAFFITI 19
222 DESERT POSEIDON 19
302 FANTASIA PARK 19
345 GABLES METROPOLIS 19
370 GORGEOUS BINGO 19
429 HONEY TIES 19
616 NATIONAL STORY 19
734 ROAD ROXANNE 19
118 CANYON STOCK 19
311 FICTION CHRISTMAS 19
396 HANGING DEEP 19
560 MARS ROMAN 19
818 SOMETHING DUCK 19
479 JEDI BENEATH 19
610 MUSIC BOONDOCK 19
710 RAGE GAMES 19
785 SHAWSHANK BUBBLE 19
233 DISCIPLE MOTHER 19
281 ENCINO ELF 19
619 NEIGHBORS CHARADE 19
282 ENCOUNTERS CURTAIN 19
298 EYES DRIVING 19
457 INDEPENDENCE HOTEL 19
747 ROXANNE REBEL 19
887 THIEF PELICAN 19
912 TROJAN TOMORROW 19
48 BACKLASH UNDEFEATED 19
72 BILL OTHERS 19
97 BRIDE INTRIGUE 19
227 DETAILS PACKER 19
243 DOORS PRESIDENT 19
580 MINE TITANS 19
115 CAMPUS REMEMBER 19
150 CIDER DESIRE 19
158 CLONES PINOCCHIO 19
451 IGBY MAKER 19
663 PATIENT SISTER 19
864 SUNDANCE INVASION 19
269 EARRING INSTINCT 19
344 FURY MURDER 19
436 HOURS RAGE 19
631 NOVOCAINE FLIGHT 19
690 POND SEATTLE 19
725 REQUIEM TYCOON 19
948 VOICE PEACH 19
212 DARN FORRESTER 18
254 DRIVER ANNIE 18
286 ENOUGH RAGING 18
294 EXPECATIONS NATURAL 18
461 INSECTS STONE 18
583 MISSION ZOOLANDER 18
657 PARADISE SABRINA 18
924 UNFORGIVEN ZOOLANDER 18
329 FORREST SONS 18
346 GALAXY SWEETHEARTS 18
709 RACER EGG 18
768 SCARFACE BANG 18
8 AIRPORT POLLOCK 18
17 ALONE TRIP 18
77 BIRDS PERDITION 18
463 INSTINCT AIRPORT 18
777 SECRETARY ROUGE 18
986 WONKA SEA 18
155 CLEOPATRA DEVIL 18
215 DAWN POND 18
432 HOPE TOOTSIE 18
456 INCH JET 18
746 ROUGE SQUAD 18
812 SMOKING BARBARELLA 18
971 WHALE BIKINI 18
121 CAROL TEXAS 18
473 JACKET FRISCO 18
936 VANISHING ROCKY 18
56 BAREFOOT MANCHURIAN 18
251 DRAGONFLY STRANGERS 18
383 GROOVE FICTION 18
474 JADE BUNCH 18
524 LION UNCUT 18
688 POLISH BROOKLYN 18
871 SWEDEN SHINING 18
90 BOULEVARD MOB 18
410 HEAVEN FREEDOM 18
689 POLLOCK DELIVERANCE 18
724 REMEMBER DIARY 18
116 CANDIDATE PERDITION 18
184 CORE SUIT 18
385 GROUNDHOG UNCUT 18
967 WEEKEND PERSONAL 18
691 POSEIDON FOREVER 17
169 COMFORTS RUSH 17
512 LEAGUE HELLFIGHTERS 17
552 MAJESTIC FLOATS 17
744 ROOTS REMEMBER 17
925 UNITED PILOT 17
380 GREEK EVERYONE 17
561 MASK PEACH 17
626 NOON PAPI 17
643 ORIENT CLOSER 17
693 POTTER CONNECTICUT 17
803 SLACKER LIAISONS 17
859 SUGAR WONKA 17
877 TAXI KICK 17
70 BIKINI BORROWERS 17
95 BREAKFAST GOLDFINGER 17
265 DYING MAKER 17
348 GANDHI KWAI 17
398 HANOVER GALAXY 17
424 HOLOCAUST HIGHBALL 17
448 IDAHO LOVE 17
464 INTENTIONS EMPIRE 17
488 JOON NORTHWEST 17
506 LADY STAGE 17
611 MUSKETEERS WAIT 17
737 ROCK INSTINCT 17
878 TEEN APOLLO 17
944 VIRGIN DAISY 17
333 FREAKY POCUS 17
481 JEKYLL FROGMEN 17
763 SATISFACTION CONFIDENTIAL 17
964 WATERFRONT DELIVERANCE 17
275 EGYPT TENENBAUMS 17
299 FACTORY DRAGON 17
324 FLINTSTONES HAPPINESS 17
672 PERFECT GROOVE 17
854 STRANGERS GRAFFITI 17
175 CONFUSED CANDLES 17
183 CONVERSATION DOWNHILL 17
308 FERRIS MOTHER 17
483 JERICHO MULAN 17
58 BEACH HEARTBREAKERS 17
336 FRENCH HOLIDAY 17
510 LAWLESS VISION 17
534 LOUISIANA HARRY 17
574 MIDNIGHT WESTWARD 17
623 NEWTON LABYRINTH 17
717 REAR TRADING 17
999 ZOOLANDER FICTION 17
708 QUILLS BULL 16
809 SLIPPER FIDELITY 16
44 ATTACKS HATE 16
186 CRAFT OUTFIELD 16
600 MOTIONS DETAILS 16
666 PAYCHECK WAIT 16
908 TRAP GUYS 16
969 WEST LION 16
85 BONNIE HOLOCAUST 16
111 CADDYSHACK JEDI 16
170 COMMAND DARLING 16
179 CONQUERER NUTS 16
601 MOULIN WAKE 16
373 GRADUATE LORD 16
480 JEEPERS WEDDING 16
570 MERMAID INSECTS 16
678 PICKUP DRIVING 16
686 PLUTO OLEANDER 16
927 UPRISING UPTOWN 16
963 WATCH TRACY 16
987 WORDS HUNTER 16
189 CREATURES SHAKESPEARE 16
226 DESTINY SATURDAY 16
679 PILOT HOOSIERS 16
704 PURE RUNNER 16
862 SUMMER SCARFACE 16
956 WANDA CHAMBER 16
980 WIZARD COLDBLOODED 16
105 BULL SHAWSHANK 16
165 COLDBLOODED DARLING 16
392 HALL CASSIDY 16
458 INDIAN LOVE 16
696 PRIDE ALAMO 16
739 ROCKY WAR 16
937 VARSITY TRIP 16
40 ARMY FLINTSTONES 16
123 CASABLANCA SUPER 16
260 DUDE BLINDNESS 16
351 GASLIGHT CRUSADE 16
427 HOMEWARD CIDER 16
716 REAP UNFAITHFUL 16
749 RULES HUMAN 16
757 SAGEBRUSH CLUELESS 16
797 SILENCE KANE 16
855 STREAK RIDGEMONT 16
42 ARTIST COLDBLOODED 16
50 BAKED CLEOPATRA 16
141 CHICAGO NORTH 16
203 DAISY MENAGERIE 16
526 LOCK REAR 16
606 MUMMY CREATURES 16
664 PATRIOT ROMAN 16
975 WILLOW TRACY 16
991 WORST BANGER 16
152 CIRCUS YOUTH 15
421 HOLIDAY GAMES 15
907 TRANSLATION SUMMER 15
932 VALLEY PACKER 15
7 AIRPLANE SIERRA 15
68 BETRAYED REAR 15
84 BOILED DARES 15
110 CABIN FLASH 15
287 ENTRAPMENT SATISFACTION 15
438 HUMAN GRAFFITI 15
446 HYSTERICAL GRAIL 15
544 MADISON TRAP 15
592 MONSTER SPARTACUS 15
792 SHREK LICENSE 15
858 SUBMARINE BED 15
232 DIRTY ACE 15
272 EDGE KISSING 15
505 LABYRINTH LEAGUE 15
529 LONELY ELEPHANT 15
618 NECKLACE OUTBREAK 15
634 ODDS BOOGIE 15
942 VIETNAM SMOOCHY 15
962 WASTELAND DIVINE 15
137 CHARADE DUFFEL 15
770 SCISSORHANDS SLUMS 15
820 SONS INTERVIEW 15
844 STEERS ARMAGEDDON 15
795 SIEGE MADRE 15
988 WORKER TARZAN 15
28 ANTHEM LUKE 15
201 CYCLONE FAMILY 15
442 HUNTING MUSKETEERS 15
532 LOSER HUSTLER 15
588 MODEL FISH 15
654 PANKY SUBMARINE 15
788 SHIP WONDERLAND 15
796 SIERRA DIVIDE 15
830 SPIRIT FLINTSTONES 15
896 TOOTSIE PILOT 15
236 DIVINE RESURRECTION 15
557 MANCHURIAN CURTAIN 15
589 MODERN DORADO 15
655 PANTHER REDS 15
732 RINGS HEARTBREAKERS 15
872 SWEET BROTHERHOOD 15
229 DEVIL DESIRE 15
420 HOLES BRANNIGAN 15
452 ILLUSION AMELIE 15
542 LUST LOCK 15
598 MOSQUITO ARMAGEDDON 15
615 NASH CHOCOLAT 15
453 IMAGE PRINCESS 14
493 KANE EXORCIST 14
599 MOTHER OLEANDER 14
783 SHANE DARKNESS 14
916 TURN STAR 14
968 WEREWOLF LOLA 14
992 WRATH MILE 14
16 ALLEY EVOLUTION 14
24 ANALYZE HOOSIERS 14
205 DANCES NONE 14
379 GREEDY ROOTS 14
478 JAWS HARRY 14
536 LOVELY JINGLE 14
658 PARIS WEEKEND 14
784 SHANGHAI TYCOON 14
900 TOWN ARK 14
347 GAMES BOWFINGER 14
455 IMPOSSIBLE PREJUDICE 14
667 PEACH INNOCENT 14
793 SHRUNK DIVINE 14
241 DONNIE ALLEY 14
365 GOLD RIVER 14
381 GRINCH MASSAGE 14
546 MADRE GABLES 14
652 PAJAMA JAWBREAKER 14
894 TOMATOES HELLFIGHTERS 14
173 CONFESSIONS MAGUIRE 14
216 DAY UNFAITHFUL 14
620 NEMO CAMPUS 14
190 CREEPERS KANE 14
426 HOME PITY 14
629 NOTORIOUS REUNION 14
756 SADDLE ANTITRUST 14
913 TROOPERS METAL 14
921 UNCUT SUICIDES 14
946 VIRTUAL SPOILERS 14
81 BLINDNESS GUN 14
219 DEEP CRUSADE 14
360 GLASS DYING 14
673 PERSONAL LADYBUGS 14
847 STOCK GLASS 14
277 ELEPHANT TROJAN 14
394 HAMLET WISDOM 14
648 OUTLAW HANKY 14
774 SEARCHERS WAIT 14
832 SPLASH GUMP 14
840 STAMPEDE DISTURBING 14
134 CHAMPION FLATLINERS 13
177 CONNECTICUT TRAMP 13
328 FOREVER CANDIDATE 13
511 LAWRENCE LOVE 13
153 CITIZEN SHREK 13
213 DATE SPEED 13
430 HOOK CHARIOTS 13
568 MEMENTO ZOOLANDER 13
617 NATURAL STOCK 13
842 STATE WASTELAND 13
867 SUPER WYOMING 13

917 TUXEDO MILE 13
34 ARABIA DOGMA 13
145 CHISUM BEHAVIOR 13
296 EXPRESS LONELY 13
321 FLASH WARS 13
423 HOLLYWOOD ANONYMOUS 13
487 JINGLE SAGEBRUSH 13
577 MILE MULAN 13
593 MONTEREY LABYRINTH 13
736 ROBBERY BRIGHT 13
994 WYOMING STORM 13
440 HUNGER ROOF 13
660 PARTY KNOCK 13
711 RAGING AIRPLANE 13
762 SASSY PACKER 13
828 SPIKING ELEMENT 13
27 ANONYMOUS HUMAN 13
63 BEDAZZLED MARRIED 13
71 BILKO ANONYMOUS 13
96 BREAKING HOME 13
258 DRUMS DYNAMITE 13
290 EVERYONE CRAFT 13
449 IDENTITY LOVER 13
661 PAST SUICIDES 13
829 SPINAL ROCKY 13
209 DARKNESS WAR 13
540 LUCKY FLYING 13
604 MULAN MOON 13
705 PURPLE MOVIE 13
929 USUAL UNTOUCHABLES 13
65 BEHAVIOR RUNAWAY 13
98 BRIGHT ENCOUNTERS 13
202 DADDY PITTSBURGH 13
573 MICROCOSMOS PARADISE 13
597 MOONWALKER FOOL 13
765 SATURN NAME 13
133 CHAMBER ITALIAN 13
151 CINCINATTI WHISPERER 13
293 EXORCIST STING 13
639 OPPOSITE NECKLACE 13
882 TENENBAUMS COMMAND 13
194 CROW GREASE 12
519 LIBERTY MAGNIFICENT 12
567 MEET CHOCOLATE 12
825 SPEAKEASY DATE 12
93 BRANNIGAN SUNRISE 12
413 HEDWIG ALTER 12
576 MIGHTY LUCK 12
933 VAMPIRE WHALE 12
977 WINDOW SIDE 12
389 GUNFIGHTER MUSSOLINI 12
585 MOB DUFFEL 12
9 ALABAMA DEVIL 12
207 DANGEROUS UPTOWN 12
538 LOVERBOY ATTACKS 12
794 SIDE ARK 12
919 TYCOON GATHERING 12
88 BORN SPINAL 12
113 CALIFORNIA BIRDS 12
323 FLIGHT LIES 12
813 SMOOCHY CONTROL 12
821 SORORITY QUEEN 12
928 UPTOWN YOUNG 12
3 ADAPTATION HOLES 12
80 BLANKET BEVERLY 12
291 EVOLUTION ALTER 12
315 FINDING ANACONDA 12
564 MASSAGE IMAGE 12
957 WAR NOTTING 12
533 LOST BIRD 12
581 MINORITY KISS 12
881 TEMPLE ATTRACTION 12
5 AFRICAN EGG 12
682 PITTSBURGH HUNCHBACK 12
766 SAVANNAH TOWN 12
798 SILVERADO GOLDFINGER 12
931 VALENTINE VANISHING 12
75 BIRD INDEPENDENCE 11
92 BOWFINGER GABLES 11
337 FRIDA SLIPPER 11
469 IRON MOON 11
640 OPUS ICE 11
899 TOWERS HURRICANE 11
60 BEAST HUNCHBACK 11
633 OCTOBER SUBMARINE 11
692 POTLUCK MIXED 11
700 PRIX UNDEFEATED 11
187 CRANES RESERVOIR 11
761 SANTA PARIS 11
819 SONG HEDWIG 11
918 TWISTED PIRATES 11
46 AUTUMN CROW 11
257 DRUMLINE CYCLONE 11
530 LORD ARIZONA 11
627 NORTH TEQUILA 11
729 RIDER CADDYSHACK 11
886 THEORY MERMAID 11
104 BUGSY SONG 11
250 DRAGON SQUAD 11
306 FEATHERS METAL 11
587 MOD SECRETARY 11
722 REEF SALUTE 11
853 STRANGER STRANGERS 11
64 BEETHOVEN EXORCIST 11
283 ENDING CROWDS 11
342 FUGITIVE MAGUIRE 11
888 THIN SAGEBRUSH 11
210 DARKO DORADO 11
509 LANGUAGE COWBOY 11
549 MAGNOLIA FORRESTER 11
831 SPIRITED CASUALTIES 11
889 TIES HUNGER 11
905 TRAINSPOTTING STRANGERS 11
74 BIRCH ANTITRUST 11
352 GATHERING CALENDAR 11
848 STONE FIRE 11
246 DOUBTFIRE LABYRINTH 10
477 JAWBREAKER BROOKLYN 10
543 MADIGAN DORADO 10
726 RESERVOIR ADAPTATION 10
960 WARS PLUTO 10
279 ELIZABETH SHANE 10
422 HOLLOW JEOPARDY 10
528 LOLITA WORLD 10
834 SPOILERS HELLFIGHTERS 10
312 FIDDLER LOST 10
339 FROGMEN BREAKING 10
537 LOVER TRUMAN 10
553 MAKER GABLES 10
811 SMILE EARRING 10
868 SUPERFLY TRIP 10
952 WAGON JAWS 10
522 LIFE TWISTED 10
539 LUCK OPUS 10
636 OLEANDER CLUE 10
837 STAGE WORLD 10
20 AMELIE HELLFIGHTERS 10
157 CLOCKWORK PARADISE 10
375 GRAIL FRANKENSTEIN 10
482 JEOPARDY ENCINO 10
508 LAMBS CINCINATTI 10
613 MYSTIC TRUMAN 10
662 PATHS CONTROL 10
731 RIGHT CRANES 10
780 SENSIBILITY REAR 10
29 ANTITRUST TOMATOES 10
276 ELEMENT FREDDY 10
368 GONE TROUBLE 10
393 HALLOWEEN NUTS 10
630 NOTTING SPEAKEASY 10
740 ROLLERCOASTER BRINGING 10
66 BENEATH RUSH 10
82 BLOOD ARGONAUTS 10
750 RUN PACIFIC 10
230 DIARY PANIC 9
503 KRAMER CHOCOLATE 9
591 MONSOON CAUSE 9
632 NUTS TIES 9
940 VICTORY ACADEMY 9
984 WONDERFUL DROP 9
76 BIRDCAGE CASPER 9
126 CASUALTIES ENCINO 9
338 FRISCO FORREST 9
454 IMPACT ALADDIN 9
826 SPEED SUIT 9
214 DAUGHTER MADIGAN 9
240 DOLLS RAGE 9
256 DROP WATERFRONT 9
264 DWARFS ALTER 9
355 GHOSTBUSTERS ELF 9
685 PLATOON INSTINCT 9
934 VANILLA DAY 9
978 WISDOM WORKER 9
120 CARIBBEAN LIBERTY 9
188 CRAZY HOME 9
390 GUYS FALCON 9
594 MONTEZUMA COMMAND 9
721 REDS POCUS 9
208 DARES PLUTO 9
357 GILBERT PELICAN 9
425 HOLY TADPOLE 9
499 KING EVOLUTION 9
515 LEGALLY SECRETARY 9
714 RANDOM GO 9
466 INTOLERABLE INTENTIONS 9
516 LEGEND JEDI 9
435 HOTEL HAPPINESS 9
565 MATRIX SNOWMAN 9
815 SNATCHERS MONTEZUMA 9
998 ZHIVAGO CORE 9
13 ALI FOREVER 9
30 ANYTHING SAVANNAH 9
211 DARLING BREAKING 9
492 JUNGLE CLOSER 9
550 MAGUIRE APACHE 9
582 MIRACLE VIRTUAL 9
824 SPARTACUS CHEAPER 9
983 WON DARES 9
718 REBEL AIRPORT 8
751 RUNAWAY TENENBAUMS 8
817 SOLDIERS EVOLUTION 8
866 SUNSET RACER 8
52 BALLROOM MOCKINGBIRD 8
223 DESIRE ALIEN 8
371 GOSFORD DONNIE 8
719 RECORDS ZORRO 8
752 RUNNER MADIGAN 8
876 TARZAN VIDEOTAPE 8
136 CHAPLIN LICENSE 8
197 CRUSADE HONEY 8
364 GODFATHER DIARY 8
431 HOOSIERS BIRDCAGE 8
659 PARK CITIZEN 8
926 UNTOUCHABLES SUNRISE 8
146 CHITTY LOCK 8
163 CLYDE THEORY 8
225 DESTINATION JERK 8
703 PUNK DIVORCE 8
47 BABY HALL 8
523 LIGHTS DEER 8
787 SHINING ROSES 8
490 JUMANJI BLADE 8
548 MAGNIFICENT CHITTY 8
822 SOUP WISDOM 8
384 GROSSE WONDERFUL 8
401 HAROLD FRENCH 8
990 WORLD LEATHERNECKS 8
124 CASPER DRAGONFLY 8
566 MAUDE MOD 8
656 PAPI NECKLACE 8
674 PET HAUNTING 8
758 SAINTS BRIDE 8
923 UNFAITHFUL KILL 8
939 VERTIGO NORTHWEST 8
185 COWBOY DOOM 7
238 DOCTOR GRAIL 7
278 ELF MURDER 7
161 CLUE GRAIL 7
178 CONNECTION MICROCOSMOS 7
196 CRUELTY UNFORGIVEN 7
470 ISHTAR ROCKETEER 7
520 LICENSE WEEKEND 7
684 PIZZA JUMANJI 7
53 BANG KWAI 7
248 DOZEN LION 7
513 LEATHERNECKS DWARFS 7
569 MENAGERIE RUSHMORE 7
910 TREATMENT JEKYLL 7
289 EVE RESURRECTION 7
407 HAWK CHILL 7
836 SQUAD FISH 7
935 VANISHED GARDEN 7
2 ACE GOLDFINGER 7
156 CLERKS ANGELS 7
547 MAGIC MALLRATS 7
653 PANIC CLUB 7
695 PRESIDENT BANG 7
779 SENSE GREEK 7
996 YOUNG LANGUAGE 7
182 CONTROL ANTHEM 7
106 BULWORTH COMMANDMENTS 7
268 EARLY HOME 7
316 FIRE WOLVES 7
517 LESSON CLEOPATRA 7
541 LUKE MUMMY 7
605 MULHOLLAND BEAST 7
622 NEWSIES STORY 7
839 STALLION SUNDANCE 7
947 VISION TORQUE 7
237 DIVORCE SHINING 7
261 DUFFEL APOCALYPSE 7
411 HEAVENLY GUN 7
125 CASSIDY WYOMING 6
168 COMANCHEROS ENEMY 6
262 DUMBO LUST 6
485 JERSEY SASSY 6
675 PHANTOM GLORY 6
799 SIMON NORTH 6
883 TEQUILA PAST 6
32 APOCALYPSE FLAMINGOS 6
405 HAUNTED ANTITRUST 6
884 TERMINATOR CLUB 6
102 BUBBLE GROSSE 6
224 DESPERATE TRAINSPOTTING 6
372 GRACELAND DYNAMITE 6
769 SCHOOL JACKET 6
885 TEXAS WATCH 6
62 BED HIGHBALL 6
297 EXTRAORDINARY CONQUERER 6
340 FRONTIER CABIN 6
472 ITALIAN AFRICAN 6
498 KILLER INNOCENT 6
635 OKLAHOMA JUMANJI 6
754 RUSHMORE MERMAID 6
399 HAPPINESS UNITED 6
507 LADYBUGS ARMAGEDDON 6
259 DUCK RACER 6
965 WATERSHIP FRONTIER 6
997 YOUTH KICK 6
475 JAPANESE RUN 6
974 WILD APOLLO 6
808 SLING LUKE 6
959 WARLOCK WEREWOLF 6
310 FEVER EMPIRE 5
362 GLORY TRACY 5
699 PRIVATE DROP 5
94 BRAVEHEART HUMAN 5
180 CONSPIRACY SPIRIT 5
441 HUNTER ALTER 5
612 MUSSOLINI SPOILERS 5
903 TRAFFIC HOBBIT 5
335 FREEDOM CLEOPATRA 5
343 FULL FLATLINERS 5
459 INFORMER DOUBLE 5
781 SEVEN SWARM 5
107 BUNCH MINDS 5
558 MANNEQUIN WORST 5
584 MIXED DOORS 4
400 HARDLY ROBBERS 4
904 TRAIN BUNCH 4

-- 7f. Write a query to display how much business, in dollars, each store brought in.

In [192]:
columns = inspector.get_columns('payment')
for column in columns:
    print(column["name"], column["type"])

payment_id SMALLINT(5) UNSIGNED
customer_id SMALLINT(5) UNSIGNED
staff_id TINYINT(3) UNSIGNED
rental_id INTEGER(11)
amount DECIMAL(5, 2)
payment_date DATETIME
last_update TIMESTAMP

In [193]:
columns = inspector.get_columns('customer')
for column in columns:
    print(column["name"], column["type"])

customer_id SMALLINT(5) UNSIGNED
store_id TINYINT(3) UNSIGNED
first_name VARCHAR(45)
last_name VARCHAR(45)
email VARCHAR(50)
address_id SMALLINT(5) UNSIGNED
active TINYINT(1)
create_date DATETIME
last_update TIMESTAMP

In [194]:
result = session.query(
    Customer.store_id,
    func.sum(Payment.amount).label('total_payment')
) \
.join(Customer, Payment.customer_id == Customer.customer_id) \
.group_by(Customer.store_id)

In [195]:
for row in result:
    print(*row)

1 37001.52
2 30414.99

-- 7g. Write a query to display for each store its store ID, city, and country.

In [196]:
Store = Base.classes.store

In [197]:
columns = inspector.get_columns('store')
for column in columns:
    print(column["name"], column["type"])

store_id TINYINT(3) UNSIGNED
manager_staff_id TINYINT(3) UNSIGNED
address_id SMALLINT(5) UNSIGNED
last_update TIMESTAMP

In [199]:
columns = inspector.get_columns('address')
for column in columns:
    print(column["name"])

address_id
address
address2
district
city_id
postal_code
phone
location
last_update

In [200]:
columns = inspector.get_columns('city')
for column in columns:
    print(column["name"], column["type"])

city_id SMALLINT(5) UNSIGNED
city VARCHAR(50)
country_id SMALLINT(5) UNSIGNED
last_update TIMESTAMP

In [201]:
columns = inspector.get_columns('country')
for column in columns:
    print(column["name"], column["type"])

country_id SMALLINT(5) UNSIGNED
country VARCHAR(50)
last_update TIMESTAMP

In [202]:
result = session.query(
    Store.store_id,
    City.city,
    Country.country
) \
.join(Address, Store.address_id == Address.address_id) \
.join(City, Address.city_id == City.city_id) \
.join(Country, City.country_id == Country.country_id)

In [203]:
for row in result:
    print(*row)

1 Lethbridge Canada
2 Woodridge Australia

-- 7h. List the top five genres in gross revenue in descending order. 
-- (Hint: you may need to use the following tables: category, film_category, inventory, payment, and rental.)

In [204]:
columns = inspector.get_columns('category')
for column in columns:
    print(column["name"], column["type"])

category_id TINYINT(3) UNSIGNED
name VARCHAR(25)
last_update TIMESTAMP

In [205]:
columns = inspector.get_columns('film_category')
for column in columns:
    print(column["name"], column["type"])

film_id SMALLINT(5) UNSIGNED
category_id TINYINT(3) UNSIGNED
last_update TIMESTAMP

In [206]:
columns = inspector.get_columns('inventory')
for column in columns:
    print(column["name"], column["type"])

inventory_id MEDIUMINT(8) UNSIGNED
film_id SMALLINT(5) UNSIGNED
store_id TINYINT(3) UNSIGNED
last_update TIMESTAMP

In [207]:
columns = inspector.get_columns('payment')
for column in columns:
    print(column["name"], column["type"])

payment_id SMALLINT(5) UNSIGNED
customer_id SMALLINT(5) UNSIGNED
staff_id TINYINT(3) UNSIGNED
rental_id INTEGER(11)
amount DECIMAL(5, 2)
payment_date DATETIME
last_update TIMESTAMP

In [208]:
columns = inspector.get_columns('rental')
for column in columns:
    print(column["name"], column["type"])

rental_id INTEGER(11)
rental_date DATETIME
inventory_id MEDIUMINT(8) UNSIGNED
customer_id SMALLINT(5) UNSIGNED
return_date DATETIME
staff_id TINYINT(3) UNSIGNED
last_update TIMESTAMP

In [209]:
result = session.query(
    Category.name,
    func.sum(Payment.amount).label('total_revenue')
) \
.join(Rental, Payment.rental_id == Rental.rental_id) \
.join(Inventory, Rental.inventory_id == Inventory.inventory_id) \
.join(Film_Category, Inventory.film_id == Film_Category.film_id) \
.join(Category, Film_Category.category_id == Category.category_id) \
.group_by(Category.category_id) \
.order_by(func.sum(Payment.amount).desc()) \
.limit(5)

In [210]:
for row in result:
    print(*row)

Sports 5314.21
Sci-Fi 4756.98
Animation 4656.30
Drama 4587.39
Comedy 4383.58